[2013-02-24 20:18] lornajane opened #7 "Fatal Error if Can't Connect To Mongo"
I didn't have mongodb running on my machine when I tried to request webroot/index.php, and I got a 500 error with an uncaught exception:

Uncaught exception 'MongoConnectionException' with message 'Failed to connect to: localhost:27017: Transport endpoint is not connected' in .../web/Xhgui/Db.php:15

I would expect this to come back and tell me to try plugging it in first, or something else friend

[2013-02-25 00:36] #7 closed, assigned to nobody

[2013-03-07 15:02] onigoetz opened #10 "Composer"
Hi,

is there any plan or idea to include composer inside XHGUI ?

it would help for autoloading and inclusion of outer projects like twig

if yes, I would be happy to provide a pull request.

[2013-03-07 15:06] onigoetz opened #11 "Other DB"
Hi,

I know, you made XHGUI because you wanted to be able to use mongoDB.

my question is : is it possible to abstract it to be able to use mysql or other databases ?

I would be happy to write the mysql(i) driver.

for the short story, I wrote a mongo DB driver for your fork of xhprof a few years ago. and had a hard time doing it. I didn't make a pull request at the time because I couldn't get al

[2013-03-07 19:43] #10 closed, assigned to nobody

[2013-03-08 01:43] markstory opened #12 "Implement configurable watch functions"
Currently the watch functions shown on a profile run page is a hardcoded list that only includes `strlen()`. Ideally I think this feature should allow the following:
- [x] Allow the user to configure the functions to watch from inside the Xhgui interface.
- [x] Persist the watched functions (in mongo of course).
- [x] Add, remove view the functions that are being watched. This could all be on one

[2013-03-08 01:49] markstory opened #13 "Implement callgraphs"
Build a nice looking way for developers to look at the critical path for a profile run. This visualization should let you see the following things:
- The critical path of the application should be highlighted.
- The wall time and percentage of request time should be shown for each heavy functions.
- Should look like a call tree.
- You should be able to get a callgraph for any profile run.

[2013-03-08 01:57] markstory opened #14 "Clean up global namespace"
Currently utility.php puts a few global functions out, some of them have names that could collide with a host application. It would be wise to either prefix this functions, or put them into a class where they are less likely to clash with a host application.

[2013-03-10 22:43] wa0x6e opened #15 "external/header.php is included with nginx"
Under Nginx, there's a `Constant XHGUI_ROOT_DIR already defined in /path/to/bootstrap.php` error in every page.

It seems that the bootstrap.php is called twice in the code :
- first call is from the include() in index.php, -> normal
- second call is from `recordXHProfData` in external/header.php :astonished:

I don't know why, but something is including the **external/header.php** file under ngin

[2013-03-11 01:06] #15 closed, assigned to nobody

[2013-03-11 15:19] liuggio opened #16 "RFC - Implemenatation ideas"
Hi,
I like your project and we are using in production,
some ideas...
- Writer(external) and reader(web) should not share the same config file, they are  conceptually different.
- The writer 'd have an interface (maybe doctrine common cache) so swapping with other mechanisms as APC/Redis/MYSQL 'll become easy related to #11
- `Composer`ize the project vendors
- uses PSR*

what do you think?

[2013-03-13 18:52] toneplex opened #17 "change markers"
When making changes during profiling, it would be very nice to add a marker, so that you can easily see the distinction between a change and the previous state. The marker would simple be a vertical line in the graph, so that you could see how effective your changes were.

One possible way of doing this, would be to add an additional parameter to the `_profile=1&_xhchange=1` query string, so that

[2013-03-17 20:30] #14 closed, assigned to nobody

[2013-03-27 00:23] markstory opened #23 "Add compare view"
It would be pretty awesome to be able to compare profiling results. And find out what changed and how much each thing changed.

Some quick user stories:
- From the run page, I should be able to search for similar runs (based on the simple_url).
- Once I've found another run, I should be able to generate a comparison.
- A comparison should show:
  - Methods that have delta's in call count, wall tim

[2013-03-27 02:55] #12 closed, assigned to nobody

[2013-03-31 02:37] markstory opened #25 "Add other types of watched methods"
In large applications with 10000's of method calls per page, simply watching named functions is not going to help people find problem areas. It would also be nice to allow users to save simple comparison expressions. For example:
- If the call count > 500us flag the method.
- If the wall time / call count > 400 flag the method.

And so on, by having a simple grammer for finding expensive functions

[2013-03-31 02:51] #25 closed, assigned to nobody

[2013-04-02 02:57] markstory opened #27 "Improve sort links"
On the main lists (url.php, index.php) sorting is done client side. This gives you an incorrect view of the data.  Sorting should be done with a page request that sorts the entire data set. This will be slower but more correct.

[2013-04-02 21:28] #27 closed, assigned to nobody

[2013-04-03 13:16] markstory opened #28 "Use 95th percentile in URL line graphs"
Currently the line graphs on the URL view page use AVG() which is statistically a very bad idea. AVG() was originally used so I could get a page up and working quickly, and continue working on the graphing library. Now that the graphs are working the data should be updated to use 95th percentile values.

[2013-04-03 14:59] preinheimer opened #29 "Have option to display non-aggregated URL data"
I'd like a way to simple view the raw 100 or so most recent requests of a URL. Useful when diagnosing changes. I don't think we have a way of doing this currently.

[2013-04-04 03:05] #23 closed, assigned to nobody

[2013-04-19 06:31] tim-massey opened #32 "Do you plan to port over the callgraph functionality from xhprof?"
Hi, do you have plans to port over the [callgraph.php](https://github.com/facebook/xhprof/blob/master/xhprof_html/callgraph.php) functionality from xhprof?

I see there is already #31 but that seems to be rewriting it using D3 rather than leveraging `graphviz`.

[2013-04-19 15:56] #32 closed, assigned to nobody

[2013-04-20 02:30] markstory opened #33 "Callgraph does not show child functions all the time."
The current implementation for callgraphs does not render the correct results in the following case:

[code]

will give this callgraph :

<pre>
                 main
               /     \
man::nap (50%)        cat::sleep (50%)
     |                     |
rest::zZzZz (50%)     rest:zZzZz (50%)
                           |
                       sleep (100%)
</pre>

Whereas callgraph with graphviz

[2013-04-20 17:55] bertrandmalet opened #34 "Javascript error on Xhgui.linegraph with firefox"
The current javascript date creation used in Xhgui.linegraph isn't working on firefox

[code]

2013-04-20 00:00:00 isn't a valid format for parsing (https://developer.mozilla.org/en-US/docs/JavaScript/Reference/Global_Objects/Date).

[2013-04-20 18:46] #34 closed, assigned to nobody

[2013-05-06 10:20] ghost opened #38 "&amp; in url"
Hello, firstly thanks for all your work!

I have &amp;amp;-s in the url of paginations, sorting, and those urls doesn't work.

![screen shot 2013-05-06 at 12 19 47](https://f.cloud.github.com/assets/682662/465548/879d92c2-b636-11e2-8b7c-c0cda4b5cac9.png)

[2013-05-06 18:28] #38 closed, assigned to nobody

[2013-05-14 23:59] ruimarinho opened #39 "xhprof recommended repository"
I'm currently using [the original xhprof](https://github.com/facebook/xhprof) build (commit #254eb24) and [not the forked one](https://github.com/preinheimer/xhprof/) (commit #75619dc) along xhgui. Everything seems to be working correctly.

As far as I can tell, the forked repo had modifications prior to your work on the newest versions of xhgui. Can you confirm this? Is there a fork you recommend

[2013-05-15 19:15] gjuric opened #40 "Undefined index: result in web/Xhgui/Profiles.php on line 115"
When I open

[code]

Or any other URL, I get the Notice from the Subject.

[2013-05-15 19:36] #40 closed, assigned to nobody

[2013-05-28 21:07] bertrandmalet opened #41 "Save & import profils data from files"
I think a nice feature would be allowing saving xhgui profiles data into file for a later import inside mongo. I have a use case where i've some production servers who can't connect to mongodb. The idea is to profil and save data on files, have a custom script to get thoses files and import them in mongo.

I need it so i'll make it, just wondering if you think it fits xhgui main project

[2013-05-29 01:44] #33 closed, assigned to nobody

[2013-05-29 01:44] #39 closed, assigned to nobody

[2013-07-29 02:20] #28 closed, assigned to nobody

[2013-08-05 08:28] JohanTan opened #42 "Ability to View Function Drilldowns Aggregated Runs"
It is a feature that the oldest XHProf GUI has and is very useful. So far the url.php page is pretty useful. But it would be nicer to have the view of aggregated time and memory use from either all runs in the same day for a particular url, or the ones that user selected. Would that be possible?

[2013-08-13 15:04] preinheimer opened #44 "flush() can cause a warning when output buffering is enabled"
In a script I see:
        header('X-Bar: foo');
    ob_start("ob_gzhandler");
    echo $json;
    exit;
With XHGui on I get `[Tue Aug 13 15:01:50 2013] [error] [client 192.168.3.1] PHP Warning:  Cannot modify header information - headers already sent in Unknown on line 0`

If I comment out the `flush()` line this goes away. Need to diagnose further.

[2013-08-13 16:26] preinheimer opened #45 "install.php should check permissions on cache folder and recomend change"

[2013-08-13 18:10] #11 closed, assigned to nobody

[2013-08-15 02:55] #45 closed, assigned to nobody

[2013-08-15 20:22] preinheimer opened #47 "Project results on aggregate pages to reduce memory usage"

[2013-08-17 22:13] #13 closed, assigned to nobody

[2013-08-17 22:18] markstory opened #49 "Possibly use NVD3 for graphs"
While the graphs currently in XHGui work they are kind of a homebrew job that might be better accomplished with a more mature graphing toolset built on top of d3. [NVD3 charts](http://nvd3.org/ghpages/examples.html) look great have a decent API and are licensed under the Apache 2.0 license.

I think adopting nvd3 might help make the graphs nicer, more future proof and allow us to add new graph typ

[2013-08-17 22:20] #47 closed, assigned to preinheimer

[2013-08-19 08:00] lornajane opened #50 "Missing dependency causes silent install failure"
I am setting up XHGUI on a new machine, following the readme instructions, which are awesome.  When I ran the install script, it looked like it had completely correctly, these are the last few lines:

[code]

But I didn't end up with a vendor/autoload.php.  So I ran composer update and one of the dependencies failed (because I don't have git installed on this machine):

[code]

My system works now

[2013-08-19 16:10] #50 closed, assigned to nobody

[2013-09-10 00:24] preinheimer opened #54 "Error message when cache isn't writable should be pretty, like the Mongo one"

[2013-09-10 02:13] #54 closed, assigned to nobody

[2013-09-10 11:20] preinheimer opened #55 "Create more nuanced code to turn XHGui on"
Currently the code simply generates a random number, if it's 42 the profiler is turned on, it would be nice to offer more options.

Possible Ideas:
- Select users by IP (if the remote_addr last octet = 42 turn on profiling for a 1/255 chance) with adjustable probability.
- Generate random number on first request, give users a cookie indicating state, so they are followed throughout their use of th

[2013-09-17 09:07] tim-massey opened #57 "No CPU time or memory showing up"
Hey guys,

I'm doing a [presentation this Thursday](http://www.meetup.com/SydneyWebApps/events/127293412/) in Sydney on Xhprof and want to talk about Xhgui. I've installed it all and it seems to be collecting data however... The cpu, wt, mu, pmu are `0`. I've tried a few different `xhprof_enable()` calls but none seem to be effecting the collection.

Current settings are:

[code]

What could I hav

[2013-09-17 22:20] #57 closed, assigned to nobody

[2013-09-19 21:53] markstory opened #59 "Profiling CLI tools needs improvement"
I tried to profile some command line tools today and I didn't get any profile data. I could  have just been doing it wrong, but in theory it should work.

[2013-09-19 21:58] markstory opened #60 "Callgraph tooltips should show more information"
It would be great if tooltips on the callgraph showed the mu/pmu/cpu/wt values. Right now only the wall time is shown.

In an even more ideal world the callgraph could be generated with the circle size based off each metric through a radio button control set.

[2013-09-20 02:47] #59 closed, assigned to nobody

[2013-09-25 19:48] preinheimer opened #63 "Allow filtering based on HTTP_HOST"
May require a meta-table to avoid a horrendous cost (to get the distinct list), but it would be nice to be able to filter results based on the HTTP_HOST when multiple domains push to the same server.

[2013-09-25 19:50] preinheimer opened #64 "Add some sort of client-side filtering to function list"
It would be nice to be able to filter the results with something like datatables. I'm working on a project now, and I'd love to see all the functions matching oci, or saml.

[2013-10-04 19:57] centerax opened #66 "PHP DOM extenstion"
Php-Unit requires ext-dom, so maybe you can add it under mcrypt on the System Requirements entry?

Thanks.

[2013-10-04 20:28] #66 closed, assigned to nobody

[2013-10-17 10:37] TheDevilOnLine opened #70 "Too much data for sort() with no index. add an index or specify a smaller limit"
After collecting data for a couple of weeks, I tried to go the 'Longest wall time' and 'Most CPU' pages, but both give the error 'too much data for sort() with no index. add an index or specify a smaller limit'. It seems this issue is caused by MongoDB when a result set exceeds 4 MB (source: http://stackoverflow.com/questions/4399068/mongodb-too-much-data-for-sort-with-no-index-error)

[2013-10-17 12:02] #70 closed, assigned to nobody

[2013-10-19 02:33] #41 closed, assigned to nobody

[2013-10-29 17:03] #49 closed, assigned to nobody

[2013-11-06 15:18] fjun99 opened #71 "can't find Class 'Xhgui_Autoload' ?"
hi
I am setting up XHGUI(f9614f4) on a new machine, following the readme instructions.

I ran the install script and it looked like it had completely correctly.

then i visit the index.php in wwwroot through browser, i got an error: Fatal error:" Class 'Xhgui_Autoload' not found in /www/xhgui/src/bootstrap.php on line 8"

does anyone can help for this? thank you very much.

[2013-11-06 21:45] #71 closed, assigned to nobody

[2013-11-08 17:11] pitpit opened #72 "no profile generated"
Sorry but the following code prevent the profiling to work : https://github.com/preinheimer/xhgui/blob/master/external/header.php#L45

Shouldn't you write a comment in README to explain how to use it (I did comment it at all) ?

thanks

[2013-11-08 18:31] #72 closed, assigned to nobody

[2013-11-20 18:19] #55 closed, assigned to nobody

[2013-12-02 20:49] markstory opened #76 "Callgraph should show call count beside line"
Having the lines connecting function symbols vary in size based on time spent is nice, but it would also be nice to see the call count beside the connecting line. This would help bubble up valuable information about the run.

Call count labels should only display for nodes that display text by default as well, this should help prevent the graph from getting really cluttered.

[2013-12-08 15:17] #76 closed, assigned to nobody

[2013-12-12 19:41] preinheimer opened #80 "Exceptions thrown in a controller result in sadness"
It would be better if exceptions thrown in the Controller showed the standard error page, rather than the current nothing.

To test try inserting `throw new Exception('stuff');` as line 15 or so in `Xhgui_Controller_Run`

[2013-12-12 22:55] #80 closed, assigned to nobody

[2013-12-13 15:12] preinheimer opened #82 "Provide UI mechanism to change cut off % for callgraph"
I experimented this morning with moving the line around. Graphing everything is … madness. Graphing only things that are 5% or more cut a lot of chaff. I think adding a UI button (refreshing the page would be fine IMHO) for like 0.5%, 1%, 5% would be nice.

[2013-12-13 15:25] preinheimer opened #83 "Should circle size (on Callgraph) be determiend by Exclusive wall time, rather than Inclusive"
Should we change how that's being determined, or offer options? I like the descending circle sizes, but I think a big circle at the end of a chain on mysqli_query or similar might be more instructive?

[2014-01-15 02:13] ideamean opened #84 "/custom/help?id=52d5e6b0feca801f4a9c55a6 show data error"
click this link
![qq20140115101033](https://f.cloud.github.com/assets/824662/1917087/4ed636ee-7d8a-11e3-8251-d0cd4a53247d.png)

open url :
/custom/help?id=52d5e6b0feca801f4a9c55a6

then the data is not from  the id:52d5e6b0feca801f4a9c55a6, but the latest data,
as the code is:

 public function help()
    {
        $res = $this->_profiles->latest();
        $this->_app->render('custom/help.twig',

[2014-01-15 12:15] kuncajs opened #85 "Composer Requirements"
Hello developers,
as even your installation guide says you can use xhgui even when you do not have access to mongoDB directly. This is exactly our case - we do not want to run mongo on our production just for profiling, instead of it we would like to generate files, download them periodically and analyze locally, however we will not be able to compose this project as dependency in composer on prod

[2014-01-17 18:58] rdfedor opened #88 "URL View of Graph Displays Single Point"
Hello, great product but may have stumbled across an issue.  I did a straight clone of the repo and set up the app on my service, and I have several domains, all with the same app, feeding mongodb.  I changed the header.php file in the externals folder so that URL gets the `$_SERVER['SERVER_NAME']` along with the $uri instead of just the $uri.

Well, the data is being populated as expected, howeve

[2014-01-18 14:57] #83 closed, assigned to nobody

[2014-01-18 14:58] #82 closed, assigned to markstory

[2014-01-18 14:59] #60 closed, assigned to nobody

[2014-01-20 06:23] ideamean opened #89 "url view is so slow when data is so large"
1: /url/view?url=url
when records are large, this page is so slow, beacause there is no index for meta.simple_url
then add a index for db.xhprof.results:
db.results.ensureIndex( { 'meta.simple_url' : 1 } )

2: /usr/view?url=url is realy show the url cost time history, but xhgui record the url and the get paramters, for example:
a.php
a.php?id=5
a.php?id=6
these url is really the same url, but xhgu

[2014-01-20 06:34] ideamean opened #90 "why not run/callgraph use graphviz "dot" like previous version?"
![qq20140120143158](https://f.cloud.github.com/assets/824662/1952116/c05230e6-819c-11e3-94ec-a7d776e3f775.png)

![qq20140120143246](https://f.cloud.github.com/assets/824662/1952119/f0be203c-819c-11e3-8d61-0903673f001e.png)

I think the second graphic is better than the first.

[2014-01-20 17:08] #90 closed, assigned to nobody

[2014-01-21 03:23] #84 closed, assigned to nobody

[2014-01-21 08:45] #89 closed, assigned to nobody

[2014-01-22 16:47] rdfedor opened #91 "PHP Fatal : Base lambda function for closure not found"
There's a known issue with using PHP + APC and the usage of anonymous functions.  I have several applications that I'm using this product to collect data on, and on occasions, all applications at the same time will start throwing the fatal.  It's nothing to do with your code itself, it's just the way APC handles the caching of it causes the Fatal.  Without the APC extension it runs fine w/o errors

[2014-01-22 17:01] rdfedor opened #92 "Missing Call Counts"
I've noticed when going through a stack, correct me if I'm wrong but my understanding of this is like this, the current call count should be equal to the sum of the call counts from the Parent Function section.  In my application, I'm seeing instances where it says the current call count is greater than the sum of the parent function call counts.

![xhgui - symbol - sample count mismatch](https://

[2014-01-22 17:07] #91 closed, assigned to nobody

[2014-01-26 10:28] ideamean opened #93 "class Xhgui_Profiles method "paginate" return so large data"
Now I saw my mongo db in results collection have more than 400W record.
when the paginate find record for the url list, it return so large data and cost more times.

the url: /url/view?url=\* is  always give the error:
![qq20140126181913](https://f.cloud.github.com/assets/824662/2003743/79bf84f4-8673-11e3-8635-97972a607145.png)

1: the most fields in the document is not to need. I give a parameter

[2014-01-26 14:53] #92 closed, assigned to nobody

[2014-01-27 05:28] ideamean opened #94 "url with so many get parameters and html table's first column is very long cause a horizontal scroll bar"
html node is : table table-hover
my most url with so many get parameters, then the url list table first column is occupy the screen, then from second to last column all outside the screen, there is a horizontal  scroll bar.
![qq20140127132707](https://f.cloud.github.com/assets/824662/2006300/c913bf16-8713-11e3-9295-7855688cc500.png)

[2014-01-29 02:14] #94 closed, assigned to nobody

[2014-02-14 16:31] brpaz opened #98 "fatal error running xhgui - Argument 1 passed to Slim\\Slim::__construct() must be of the type array"
Hi.
I have successfully configured xhgui but when I add the auto_prepend value to my php.ini and refresh the page it gives me blank page.
From apache error log I get the following message:

[code]

What I am missing?

[2014-02-15 01:10] #98 closed, assigned to nobody

[2014-02-18 09:28] patrick-radius opened #100 "Option to exclude profiling based on url?"
Hi, we installed xhgui on one of our production machines.
But besides our main application we're also hosting a blog on the same host.
Now i'm specific interested in profiling our main application, but the requests for the blog are clouding the view, and obviously increase the mongo collection needlessly.

Is there an option to exclude requests from profiling based on url?
So basically say: all re

[2014-02-18 10:41] thbourlove opened #101 "long function name"
If there is one function with long name, xhgui will get this.
![snip20140218_3](https://f.cloud.github.com/assets/1768066/2194201/92073530-9888-11e3-8f49-caa504583f56.png)

[2014-02-18 14:53] #100 closed, assigned to nobody

[2014-02-19 01:57] #101 closed, assigned to markstory

[2014-03-02 23:00] NelsonSR opened #102 "No profile because «profiler.enabled» can not be read?"
I'm having some troubles to putting XHGui to work, and I'm not sure where exactly is the misconfiguration. By now I have XHProf working fine in the same machine, so the issue could be on nginx or mongodb, but I made XHGui work two or three times (I have no idea how). Right now I have just two "recents runs" and (obviously) there's profile data in the `xhgui` mongodb database.

Trying to debug the

[2014-03-03 01:36] #102 closed, assigned to nobody

[2014-05-12 16:19] erikwebb opened #104 "Detect XDebug triggers and skip profiling"
When using XHProf normally, XDebug-triggered runs are slow, but I just discard them. With xhgui however, the aggregates get skewed when these runs appear.

[2014-06-06 20:18] tonybolzan opened #105 "Image with absolute path"
In file [create.twig](https://github.com/perftools/xhgui/blob/master/src/templates/custom/create.twig#L46) set the src to relative path

[code]

[2014-06-06 20:27] tonybolzan opened #106 "Use relative paths correctly in install file"
In the file `install.php` is used relative path `./`, But this is the relative path to working directory.
Maybe it can be replaced by `__DIR__` or `dirname(__FILE__)`.

[2014-06-08 17:16] #105 closed, assigned to nobody

[2014-06-11 16:07] alex-moreno opened #107 "Inside proxy"
this will not work inside a proxy environment (in fact it doesn't):

https://github.com/perftools/xhgui/blob/master/install.php#L56

[2014-06-19 15:38] erikwebb opened #108 "Large second values are abbreviated oddly"
For extremely long running tasks, second values are abbreviated as if there are memory values -

![Screenshot](http://note.io/1oKVZ1u)

[2014-07-09 16:36] #64 closed, assigned to nobody

[2014-07-10 07:47] joshuataylor opened #111 "exception: the match filter must be an expression in an object"
When clicking on an error that has been logged, the following occurs:
[code]

Mongo is started, cache has 777 recursive, config.php is a direct copy of the example.

Debug mode turned on:
[code]

[2014-07-18 00:47] markstory opened #112 "Add support for uprofiler"
The facebook/xhprof extension has become mostly unmaintained, and now redirects to a fork. There is a new fork at FriendsOfPHP/uprofiler that seems like it will have an xhprof compatible profiler report. The only difference at this time are the function names. It would be nice to support both extensions as long as the profiler data format stays consistent as uprofiler aims to fix compatibility iss

[2014-08-13 00:06] saada opened #115 "Filter out PHP internal functions"
Is there a way to filter out PHP internal functions from the output?
I also want to apply it to the callgraph if possible

[2014-08-14 13:16] #112 closed, assigned to nobody

[2014-08-15 13:29] RoSk0 opened #117 "Use only on date format in UI"
There are several date formats used to represent run time. Most list views show date in "Aug 15th 16:20:27" format, when waterfall and run view show date in "August 15, 2014 13:55" which makes it complicated to comopare multiple runs, because date is the most handie way to identify run results.
I think this "Aug 15th 16:20:27" format will be more appropriate to use across UI.

[2014-08-15 22:02] #117 closed, assigned to nobody

[2014-08-23 21:21] ghost opened #118 "???_op@1 as function name"
Hello,

in my reports are some functions with weird names: ???_op@1, @2, etc.
Why I got these results? I can't find anything about those names.

screenshot: http://postimg.org/image/ixx5av06f/

Thank you!

[2014-08-24 09:43] #118 closed, assigned to nobody

[2014-10-31 14:46] richie87 opened #120 "Run XHGui on a central server"
Hey,

is it possible to run XHGui on one central server only, which gets the data from other webservers?

Or is it necessary that i also install XHGui on each Server?

Thanks!

[2014-10-31 17:38] #120 closed, assigned to nobody

[2014-11-01 11:34] tomasnorre opened #121 "JUnit XML View"
Hi,

I'm considering implementing some performance testing in my deployment pipeline, and therefore i'm considering xhprof, i'm already using it in my development environment, so it's a familiar tool to me.

I'm considering to implement a JUnit xml view, so that it can be use inside of jenkins, so see if the performance changes over time, on a predefined set of visited URL's at the website.

Do yo

[2014-11-02 19:01] tomasnorre opened #122 "setting up scrutinizer ci"
Hi,

I would like to include scrutinizer to the build process for testing a code-coverage.

Here is an example with the standard configuration, it can be even more accurate with some small configurations.
https://scrutinizer-ci.com/g/tomasnorre/xhgui/

I can set up the configuration if wanted ?

[2014-11-05 02:33] #106 closed, assigned to markstory

[2014-11-20 23:42] thinkspill opened #124 "Simple URL function examples?"
I'd be very helpful to have an example showing some sample inputs and expected outputs for the Simple URL function.

[2014-12-22 21:16] thebeline opened #125 "How to differentiated between domains?"
I am running this on multiple domains, how do I differentiate between them?

[2015-01-09 15:17] olivier34000 opened #127 "Remove dependency with ext-xhprof in composer.json"
In the file composer.json there is a dependency with "ext-xhprof": "*". However the extension ext-uprofilter is valid too. I suggest to remove the dependency

[2015-01-09 15:40] preinheimer commented on #127
We've talked about this a bit. The ideal situation would be an "OR" option inside composer.json, (ext-xhprof OR ext-uprofiler) but that's not an option yet. We would also like to call out to people during the installation process that *something* is required.

What about composer.json and composer.json.uprofiler or some other chicanery?

[2015-02-01 12:27] khosro opened #130 "xhgui front-end malformed page rendering after installation"
I have downloaded xhgui after following steps in README.md , i fortunately can profile my application,but xhgui front-end does not render well.I took two screenshots from first page of xhgui as follows :

![1](https://cloud.githubusercontent.com/assets/4457770/5992043/b981fd34-aa2a-11e4-9400-7e3adb594f12.png)

![2](https://cloud.githubusercontent.com/assets/4457770/5992049/d0096588-aa2a-11e4-97c8-

[2015-02-01 19:06] markstory commented on #130
Are they any 404 requests or javascript errors on the page?

[2015-02-01 19:19] khosro commented on #130
@markstory , no there is not any error CSS or JS error or 404 requests.I check it with "Chrome's Inspect Element".
I am not sure but maybe there was a problem in installing with "php install.php" command ,but i did not get any error when i run this command.I again run this command,but do not get any error.
Still seeking what problem was?

[2015-02-01 19:22] markstory commented on #130
The two calendars at the bottom of the page make me think that some of the CSS either isn't being loaded or being interpreted properly.

[2015-02-02 05:10] khosro commented on #130
The following lines are when i type "php install.php" :

    Downloading composer.
     #!/usr/bin/env php
    All settings correct for using Composer
    Downloading...

    Composer successfully installed to: /var/www/xhgui-master/composer.phar
     Use it: php composer.phar

     Installing dependencies.
     Loading composer repositories with package information
     Updating dependencies

[2015-02-02 09:11] khosro opened #131 "Read timed out after reading 0 bytes, waited for 30.000000 seconds"
I get the exception "Read timed out after reading 0 bytes, waited for 30.000000 seconds" in the following URLS:
1./url/view
2./run/compare
I can view those pages by setting "MongoCursor::$timeout = -1",but it takes more than 2 minutes to render those pages.
Other pages rendered in normal waiting time.

[2015-02-02 09:32] khosro commented on #130
I follow the same steps in Windows and front-end installed properly,but i do not know why in Linux(CentOS) it does not installed properly.

[2015-02-03 00:16] markstory commented on #130
No idea. But given you got it working, I don't think there is an issue with the code.

[2015-02-03 00:16] #130 closed

[2015-02-03 00:17] markstory commented on #131
Yep mongo is sometimes terrible. Make sure you add the index as per the readme, that often helps.

[2015-02-03 00:17] #131 closed

[2015-02-03 04:55] khosro commented on #131
Yes ,I followed README step by step and also added index,but as i said i got this exception.
I imported 1G data to MongoDB.

[2015-02-03 08:45] khosro commented on #130
After digging into loaded CSS files ,bootstrap.min.css loaded incorrectly,I mean when i look at content of bootstrap.min.css file in generated Html page(via Chrome's inspect element) ,its version is "Bootstrap v3.1.1" ,but when i look at /var/www/xhguimaster/webroot/css/bootstrap.min.css ,its version is "Bootstrap v2.2.2".
I am really confused.it loaded bootstrap.min.css incorrectly!!!

[2015-02-03 09:39] khosro commented on #130
At last I found problem.
The mentioned bootstrap loaded from "/usr/share/httpd/noindex/css/bootstrap.min.css".
It seems ,it is a bug in CenotOS look at [here  ](https://bugs.centos.org/view.php?id=7678) .
OK.After all, i change .htaccess file in xhgui project as follows:

 		<IfModule mod_rewrite.c>

		#	ErrorDocument 500 /notConnected.php

			RewriteEngine On
		#	RewriteRule !.(js|css|ico|gif|jpg

[2015-02-03 11:26] markstory commented on #131
You might have an issue with mongos configuration. I am still pretty green with mongo and don't really know what the issue could be.

[2015-02-04 04:42] khosro commented on #131
My MongoDB configuration is default.I do not change it.

[2015-02-10 07:40] voukka commented on #131
I want to confirm that it also happens for our case. All indexes are in place. There are only 30k results in db, totalling xhprof	53GB of data. Yes, our profiles are somewhat big though. DB is on SSD but it is unable to catch up within 30 secs

[2015-02-11 17:48] hosef opened #132 "How to get the old callgraph visualizations back"
The new call graph visualizations are far less useful for me than the old ones. Is there some easy way to get them back without checking out an old version of xhgui?

[2015-02-12 01:17] markstory commented on #132
No there isn't a way to view the old visualization on the current code. What about the new visualization makes it less useful?

[2015-02-12 15:15] hosef commented on #132
I think the three main things are:

I can't rearange the Items,
it shrinks the font size of the little ones so that I can't read them unless I zoom in,
the zooming is really inconsistant (sometimes it scrolls the page, and sometimes it zooms)

I like some of the new features like the sidebar, and better support for uprofiler, so I don't want to use an old version, but it deffinately feels a bit le

[2015-02-13 02:37] markstory commented on #132
Would having UI controls for zooming/panning help? It isn't hard to bump up the font sizes on smaller nodes.

[2015-02-13 13:42] hosef commented on #132
Yes, that would be great.

[2015-02-15 23:16] dennisdegreef commented on #16
I'm working on a library which has multiple datastores, but currently has not 'frontend'. I'm currently refactoring the internal data structure also keeping in mind that XHGui would work on top of the datastore adapter of Mongo. Is there any way we can work together to complete this common goal? A shared interface for datastructures inside of mongo and/or files would be awesome!

My library is lin

[2015-02-16 02:29] markstory commented on #16
@dennisdegreef I don't see why we couldn't try and share the same mongo data structures. We'll need to figure out a way to make changes in a backwards compatible way on our side though.

[2015-03-08 10:18] Benjen opened #134 "Error when clicking on URL links"
I have installed xhgui but encounter an error anytime I click on a link in the URL column of a page. I have attached a screen shots showing both the link and the corresponding error.  Any suggestions on how this can be resolved?

![xhgui-run-list](https://cloud.githubusercontent.com/assets/1292616/6545378/95cbd350-c5d8-11e4-8469-480371ab73a0.png)

![xhgui](https://cloud.githubusercontent.com/asset

[2015-03-08 12:19] markstory commented on #134
You might have an old version of the mongo driver extension.

[2015-03-09 14:39] akrabat commented on #127
I've just been bitten by this.

Setting it as a "[suggestion](https://getcomposer.org/doc/04-schema.md#suggest)" would enable you to call out the requirement for one of them.

[2015-03-09 17:49] markstory commented on #127
I think #135 fixes this.

[2015-03-09 17:49] #127 closed

[2015-03-25 17:22] Moosh-be opened #136 "Delete a run"
Sometime it's happen to launch a run in a bad context, the result can "broke"  the graph.

It would be cool to be able to ignore/delete this run entry.

[2015-03-25 17:24] Moosh-be commented on #136
if you approve, but don't have time, I can try to fork, write and pull request a solution

[2015-03-26 00:12] markstory commented on #136
A pull request for this would be great :smile:

[2015-04-14 12:47] jwhitcraft opened #137 "PHP Fatal Error when url contains []"
I have a url that contains [] as parameter, and when I try and view that url's data it give me this error

[code]

The url looks like this in the db:
`/ent/rest/v10/Filters?max_num=20&filter%5B0%5D%5Bcreated_by%5D=1&filter%5B1%5D%5Bmodule_name%5D=Accounts`
and this in the web request
`/ent/rest/v10/Filters?max_num=20&filter[0][created_by]=1&filter[1][module_name]=Accounts`

[2015-06-04 11:20] kevin8096 opened #140 "why only show main() and {closure} two function Profiling"
I installed xhgui and run it my app , but only show this two function everywhere ,i what see detail like below this (xhprof),how can i resolve it?  thanks!

[code]

[2015-06-04 13:38] markstory commented on #140
I don't know. Is there anything in the webserver error logs?

[2015-06-25 17:06] archibaldhaddock opened #144 ""127.0.0.1:27017: no such cmd""
Hello everybody,

I've just cloned xhgui and installed
mongo --version
MongoDB shell version: 1.4.4
I browsed  the site I want to profile, I get a correct list of urls on xhgui main page but when I click on one of them to get details I have this message
"Aw shoot, Xhgui hit an error
127.0.0.1:27017: no such cmd"
What is sure is that the connection to mongo seems ok.
Here is what I get with a few r

[2015-06-26 00:33] markstory commented on #144
This codebase does not support mysql at all. I am not to sure about compatibility issues with different versions of mongo though.

[2015-06-26 06:42] gwenael commented on #144
Ok, thanks for your answer.
Since "no such cmd" clearly comes from mongo (cli or db) + I don't know how to fix it, I'll get back to an older version that can use mysql.

[2015-06-29 07:44] dcroonen commented on #131
We are having the same issue on a dataset of almost 60GB where we sharded the MongoDB  over three servers. @khosro in which file did you set the MongoCursor::$timeout = -1 ?

[2015-06-30 12:46] gwenael commented on #144
Finally, I've installed mongodb 3.0.4 and everything works fine !
thanks !

[2015-06-30 14:50] #144 closed

[2015-07-15 04:20] khosro commented on #131
@dcroonen ,
In class `Xhgui_Profiles ` ,i changed `getPercentileForUrl` method :

       public function getPercentileForUrl($percentile, $url, $search = array())
    {
        MongoCursor::$timeout = -1;//Khosro

And also in the mentioned class,i changed method `paginate($options)` as follows :

        public function paginate($options)
    {
        $opts = $this->_mapper->convert($options);

[2015-07-17 12:30] aheinz-sg commented on #88
I had the same confusion. Perhaps adding a label to the x-axis would make the grouping more obvious?
![screen shot 2015-07-17 at 8 28 51 am](https://cloud.githubusercontent.com/assets/10038684/8747108/e2e848f8-2c5d-11e5-9468-d28d1895d89a.png)

Even when I do a search for last 24 hours, the first and last data points are not marked, which is confusing for small data sets.
![screen shot 2015-07-17 a

[2015-07-19 14:23] joshuataylor commented on #111
I ran into this again, on a "new" machine. Turns out my nginx config was being funky with xhgui, and using the example xhgui config worked perfectly.

[2015-07-19 21:58] markstory commented on #111
Thanks for the update @joshuataylor

[2015-08-11 09:45] boedy opened #146 "Can't disable XHPROF_FLAGS_CPU flag"
When I leave out the `XHPROF_FLAGS_CPU` in `xhprof_enable(XHPROF_FLAGS_CPU | XHPROF_FLAGS_MEMORY);` I get the following error when I view a trace.

![image](https://cloud.githubusercontent.com/assets/2030968/9194820/596e0002-401e-11e5-8e23-15907e4be5a0.png)

[2015-08-11 16:39] markstory commented on #146
Yes, xhgui assumes you have cpu profiling enabled throughout the code unfortunately.

[2015-08-19 19:09] jamesrward opened #148 "xhgui keeps getting profiled"
I'm running nginx php-fpm 5.6 and xhgui all installed via homebrew.  For the domain I want to profile I have include the nginx config for php files
[code]
For xhgui I have the following:
[code]
For some reason after I load a the domain I want to profile xhgui starts profiling itself.  I have to periodically remove xhgui records with:
```db.results.remove({"meta.SERVER.HTTP_HOST" :"xhgui.ld"})```
B

[2015-08-20 01:42] markstory commented on #148
Its very possible that fastcgi worker processes are shared between the two virtualhosts. This is very likely to happen because you're modifying the PHP configuration in fastcgi.

[2015-08-20 01:44] jamesrward commented on #148
That's what I figured.  Any suggestions for a work-around or should I just stick with including the header.php file in the projects I want to profile?

[2015-08-20 01:49] markstory commented on #148
If you're using php-fpm you might want to stick with requiring the header.php file.

[2015-09-11 05:41] woss opened #150 "Can you please add develop branch"
Hi,

can you please add DEVELOP branch so i can make pull request. I use GitFlow for all my projects and i would recommend that you utilise that coz it makes easier for contributors to make pull request.

Made few changes to view twig template to see the VERB of each method, much easier to distinguish what i would like to see.

Thanks

[2015-09-11 09:12] dennisdegreef commented on #150
You can also make a pull request to master :)

[2015-09-11 16:45] woss commented on #150
ok :) thanks will do

[2015-09-11 21:24] markstory commented on #150
I really dislike gitflow as the two long lived branches make almost no sense for a project like this.  Closing as your pull request has been merged :smile:.

[2015-09-11 21:24] #150 closed

[2015-09-12 03:33] woss commented on #150
@markstory that is true. thanks for merging pull request :smiley:

[2015-09-22 12:32] ls12styler opened #153 "Import not working/fails silently"
Hi,

I've tried to import an existing profile created using XHProf and nothing appears in Mongo/XHGUI, leading me to think that the import fails.

I'm running:
[code]

Nothing in Mongo
[code]

Hacking about in the import script, I found that the profile wasn't being successfully decoded as JSON, failing with the error message: "unexpected character".

Having a look at the XHProfile that I'm trying

[2015-09-23 03:15] markstory commented on #153
No. The data you import has to have been collected and saved to file using Xhgui. We don't support data from other versions of xhprof interfaces at this point in time.

[2015-09-23 10:48] ls12styler commented on #153
Ok, that's fine. Thanks for the reply.

[2015-09-23 10:48] #153 closed

[2015-09-25 14:52] dkarlovi opened #154 "Performance index calculation"
My company is a webdev studio and we're doing quite a few different projects. I like the idea of using this tool remotely (ie. I've developed a plugin for our framework which dumps the profile in a file on disk and a cron job picks it up and uploads it to our one hosted xhgui instance). This, combined with other tools we use, would enable us to have a constant "finger on the performance pulse" of

[2015-09-25 16:46] markstory commented on #154
I think it sounds neat. Having the performance index displayed on the run list would be quite handy.

[2015-09-28 22:50] BHSPitMonkey opened #155 "Undefined offset errors in Profiles.php::getPercentileForUrl()"
When I try to visit `/url/view` pages, I am met with the error page:

[code]

Here is the stack trace displayed:

[code]

The problem seems to be in how an array offset gets calculated in PHP.
See this snippet from src/Xhgui/Profiles.php:

[code]

The logic at `$index = max(round($result['raw_index']) - 1, 0);` looks clunky and seems to produce out-of-bounds indexes for me. For instance, here is t

[2015-09-29 00:52] markstory commented on #155
It would seem that one or more metrics have been disabled. Is that the case?

[2015-09-29 05:47] BHSPitMonkey commented on #155
Could you clarify? I'm not sure how to disable/enable metrics, or how to verify which ones are enabled currently. In the `external/header.php` I'm including, it appears I'm using the `XHPROF_FLAGS_CPU` and `XHPROF_FLAGS_MEMORY` xhprof flags if that's what you mean.

[2015-09-29 17:02] dkarlovi commented on #154
@markstory thanks for your comment. Do you have a rough idea how it might work?

I'm thinking out loud: we'll have to sample in discrete time intervals (which is a fancy way to say "by minute", "by hour", etc). This gives us an X axis, time.

Y axis: for each interval we can collect all the samples which fit in that interval and average their wall time (probably need to use median, to ease the cur

[2015-09-29 19:51] markstory commented on #154
Nope :smile: Something using percentiles might work out ok.

[2015-09-30 02:21] markstory commented on #155
The various flag options passed to `xhprof_enable` toggle different metrics not being collected.

[2015-09-30 07:53] dkarlovi commented on #154
OK, so let's do *something* and see how it performs, we'll be smarter from there. :)

[2015-09-30 08:22] dkarlovi commented on #154
Also, before I forget: I think we should also store the current profiling rate with each profile. This would roughly translate as "This profile represents X requests" and might possibly be used in the calculation.

[2015-10-01 13:45] vad1m opened #157 "xhgui and relative paths"
Hi all,

I tried setup xhgui at our main host at additional location /xhgui.

I tried a lot of configurations with nginx, but I'm able only to load main page. All links inside page (to js, css, as well as links to menu items) are relative and pointed to absolute website root (/js/...), instead of relative current root (/xhgui/js...). Do you have any special config option to set base path for xhgui

[2015-10-01 21:53] markstory commented on #157
Currently there isn't a way to configure a base path. Adding one sounds like a good idea though.

[2015-10-02 10:19] vad1m commented on #107
I think you can add to global config variable like USE_PROXY = ''.
Then using example from php.net (just as an idea, not final code):

config:
``
USE_PROXY = 'tcp://127.0.0.1:8080'
``

app:
``
// Define a context for HTTP.
if ($USE_PROXY) {
$aContext = array(
    'http' => array(
        'proxy' => $USE_PROXY, // This needs to be the server and the port of the NTLM Authentication Proxy Server.

[2015-10-02 10:25] vad1m commented on #107
as an another option, if you don't want implement all possible proxy cases, you can just add next feature:
in case of download failure just show message like
[code]

[2015-10-02 18:58] BHSPitMonkey commented on #155
I haven't deliberately disabled any of the metrics, and I'm still unsure how I would. Regardless, though, is this PHP fatal error an intended result of disabling a metric or is it a bug?

[2015-10-03 01:15] markstory commented on #155
I would consider it a bug either way, I was just trying to understand why the metrics are missing.

[2015-10-03 01:27] #107 closed

[2015-10-03 01:28] markstory commented on #107
@vad1m I like the error message approach. I've done that in d6442c1.

[2015-10-06 07:56] #148 closed

[2015-10-27 14:27] relaxnow opened #159 "auto_prepend_file doesn't work when newer Pimple is already loaded"
If the project uses a newer (incompatible) Pimple DI container then XHGuis Pimple will not be autoloaded and XHGui will not log profile data.

[2015-10-27 14:41] relaxnow commented on #159
Workaround:

[code]

[2015-10-28 13:15] fvanboven opened #160 "New release?"
When will a new version be released/tagged? Are there any plans for this already?

Context: We want to work with xhgui but like to work on a fixed version.

[2015-10-28 13:59] markstory commented on #160
I can do a release later this week.

[2015-10-29 09:41] fvanboven commented on #160
Great! Thanx already!  :+1:

[2015-10-30 03:09] markstory commented on #160
0.5.0 tagged now.

[2015-10-30 03:09] #160 closed

[2015-10-30 03:11] #122 closed

[2015-10-30 12:25] tomasnorre opened #161 "Add Travis -and Scrutinized Build images to README"
By adding the images to the ready me, it makes it more visible that the jobs are done, and therefor work is done to keep quality high.

I can take care of this.

[2015-10-30 18:18] #161 closed

[2015-10-31 17:59] david-garcia-garcia commented on #157
I was able to setup XHGUI in a virtual directory by simple changing the rewrite rules in web.config.

The only change is to remove the leading slash in /index, and add <clear/> to keep the virtual directory from inheriting rewrite rules from the parent site.

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear/>
        <rule name="rule 1n" stopProcessing="true">

[2015-11-06 05:14] yuzhewo commented on #111
me too! how to fix it?

[2015-11-06 05:15] joshuataylor commented on #111
@yuzhewo are you running nginx? It's 99.95% your nginx config :)

[2015-11-06 05:21] yuzhewo commented on #111
yes!!! i'am running nginx. i check my mogodb, no data was stored, Is the reason? now I first check the nginx configuration

[2015-11-06 05:32] yuzhewo commented on #111
@joshuataylor Thank you so much for your help, it really is this reason!
the right config is:
[code]
i lost $uri&$args;  (⊙o⊙)…

[2015-11-06 18:33] #111 closed

[2015-11-07 18:46] #159 closed

[2015-11-07 19:12] relaxnow commented on #159
Thanks you!

[2015-11-11 02:06] markstory commented on #137
I checked this today, and it seems to be fixed. Complex query parameters are now serialized to JSON in the view page.

[2015-11-11 02:06] #137 closed

[2015-11-27 08:43] davronbek commented on #157
Hi @markstory,

I also wanted to commit my changes related to saving not only relative urls, but full/absolute urls.
Example:
/contact-us path will be saved as example.com/contact-us.

I use xhgui on multi-website project and I need full urls on xhgui profiling. Should I make this feature enable/diaable via config?

[2016-01-19 10:13] magnetik commented on #155
Got the same error with almost non modified config, and the tideways extension activated.

[2016-02-01 04:42] leomylonas commented on #134
Hey Mark, has there been any update to this? I'm having the same issue.

[2016-02-02 01:57] markstory commented on #134
@leomylonas There has not. I've not had much time recently to dedicate to this. If you have the time I'd really appreciate a hand in getting it fixed.

[2016-02-03 06:17] leomylonas commented on #134
Normally I would, but I have absolutely no idea of the underlying technologies here, so I fear I wouldn't be much help. I'm just trying to work out why my web app is running slow! :-P

[2016-02-04 10:26] jrbarnard opened #166 "Pecl mongo driver is superseded"
The current xhgui release requires the old mongo php driver which has been superseded by: https://github.com/mongodb/mongo-php-driver

Are there plans to update support so it works with the newer driver?

[2016-02-04 17:22] markstory commented on #166
No plans at the present, but if someone finds the time to contribute a solution I'd be happy to merge it.

[2016-02-04 23:01] sylus commented on #166
This tripped me up as well when using PHP 7 which doesn't use the legacy driver.

I think we might need to leverage https://github.com/mongodb/mongo-php-library ?

[2016-02-05 08:14] jimb50 commented on #166
Cheers, just looking at Derick Rethans posts about the history of the old and new drivers and it looks as if he's writing a [migration guide to be released soon](https://derickrethans.nl/new-drivers-part2.html), I'll have a look at the core differences between the new driver + library over the old driver in the meantime, otherwise I may just wait for that write up to happen.

[2016-02-16 09:37] jcabillot opened #167 "htaccess and "Example configuration for Apache 2.4""
Hi,

In your README.MD you give an exemple for the configuration of a VirtualHost in Apache :
[code]
Because you only use rewrite instruction in your webroot/.htaccess, you only need to override FileInfo (https://httpd.apache.org/docs/current/fr/mod/mod_rewrite.html#rewriteengine).

So a better configuration exemple should be :
[code]
AllowOverride All permit to override some PHP configuration lik

[2016-02-17 02:53] markstory commented on #167
Would you be willing to open a pull request to update the README?

[2016-02-22 13:20] martindanielsson commented on #166
I got it working locally but I haven't looked at the tests yet which are failing. I think it's got something to do with the fixtures but haven't worked with MongoDB before so I am not sure what to fix..

https://github.com/martindanielsson/xhgui/tree/support-new-mongodb-driver

[2016-02-22 19:47] markstory commented on #166
@martindanielsson Looking good. I would start by making sure the fixtures are inserting correctly and into the write database.

[2016-03-02 11:34] aik099 opened #170 "Add some images to README"
This is a GUI project for XHProf and I see no image in README that shows how it looks. Isn't that strange?

[2016-03-13 20:08] pide2000 opened #171 "When I set timespan in "url-view" I don't get a"
When I try to set the timespan I don't get any results in the url view.
(url-view = click in the recent view on an url to view all the runs of the clicked url)
After clicking on an url i get the following view:
<img width="1420" alt="bildschirmfoto 2016-03-13 um 20 57 05" src="https://cloud.githubusercontent.com/assets/4418143/13730942/34a74352-e95e-11e5-97d6-0654d899f474.png">

In the graph I jus

[2016-03-14 17:01] 2tvenom commented on #166
@martindanielsson got error in view http://take.ms/qQYDo
can you check? thank you

[2016-04-05 12:03] douglasjam commented on #155
any news?

[2016-04-05 12:50] belanur commented on #134
@leomylonas It is likely that you are using a version of MongoDB that does not support `db.collection.aggregate()`.I ran into the same issue with MongoDB 2.0.6 on Debian 7.

Afaik `db.collection.aggregate()` has been introduced in 2.2, so upgrading your MongoDB version might solve the issue.

[2016-04-05 15:54] noreabu commented on #157
I ran into the same problem and tried to work around the issue with Alias/Rewrite before i discovered this issue here.

I changed a few lines of code and now it works for me. I am not sure, if this is the best practice, but the usage of the 'static' function inside Twig-Templates is limited, so i guess it won't break stuff.

I can create a pull request for it, but maybe it is better to discuss thi

[2016-04-05 16:25] markstory commented on #157
@noreabu That code seems pretty reasonable to me.

[2016-04-05 16:28] #134 closed

[2016-04-05 16:43] noreabu commented on #157
Ok, i will create a pull request later.

[2016-04-06 01:09] markstory commented on #157
Awesome!

[2016-04-06 12:18] noreabu commented on #157
My Mailserver is currently "on vacation" so it will take some more time to retrieve my github pw to this machine... but don't worry the pull request will be there shortly after :)

[2016-04-06 14:07] douglasjam commented on #155
At least for me, this only happen when i click in the URL and not in the date.

[2016-04-10 01:19] #157 closed

[2016-05-02 19:59] jamesrward commented on #136
👍

[2016-05-12 08:09] divyenduz opened #176 "Profile all the requests"
https://github.com/perftools/xhgui/blob/master/external/header.php

The rand() function is not used anymore. Only mentioned in comments, how do I make it run on each request

[2016-05-12 23:06] markstory commented on #176
Rand is still [very much in use](https://github.com/perftools/xhgui/blob/master/config/config.default.php#L32-L34).

If the `profiler.enable` function returns `true` a profile will be collected.

[2016-05-12 23:06] #176 closed

[2016-05-16 13:30] pavelsmolka commented on #85
Hi,

It was possible to install `xhgui` as a dependency without having `ext-mongo` installed for quite a long time. However, in commit `c3a3f43`, a new dependency has been added:

https://github.com/perftools/xhgui/commit/c3a3f43bf41a0a054152902c9bcdd41bc05b1bb7#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780R17

I am not sure what the reason for adding the dependency was. I can't see anything from the comm

[2016-05-16 16:45] markstory commented on #85
@pavelsmolka I can move that dependency into suggest. Splitting xhgui up might be an option in the future. I don't have a ton of time to do that right now though.

[2016-05-22 20:29] #167 closed

[2016-06-30 13:31] automatix opened #182 "Where to put the *.xhprof files?"
Where should the profiling result files be stored, in order XHGui can see and process them? Ist is configurable?

[2016-06-30 17:00] markstory commented on #182
XHGui cannot read the .xhprof files natively. You have to import the files into mongodb before you can look at the results. The filesaver mode is offered so that you don't need to run mongo in production should you want to use xhgui on production systems.

[2016-06-30 17:00] #182 closed

[2016-07-07 10:15] pavelsmolka commented on #85
Hi, I have created a pull request, with simply moving the Mongo dependency to suggest. I have briefly checked the code, and I'm not sure whether some more changes need to be introduced for this MR to be accepted. I'm happy to put a bit more work into this, if you guide me into the right direction.

[2016-07-20 10:25] ilyar opened #184 "Error Installing dependencies"
[code]
https://github.com/alcaeus/mongo-php-adapter/issues/30

[2016-07-20 20:25] markstory commented on #184
Looks like you're missing an extension.

[2016-07-21 07:01] ilyar commented on #184
https://github.com/alcaeus/mongo-php-adapter/issues/30
[code]

[2016-07-21 20:39] markstory commented on #184
Ok. Given that this error is coming from an upstream dependency what are you hoping to have me do?

[2016-07-22 20:10] ilyar commented on #184
Kick maintainers upstream dependency. This is issue for folowe status error.

[2016-07-22 21:41] markstory commented on #184
Unfortunately I don't have time to chase down other maintainers.  I'm going to close this as there is nothing _I_ can do in the scope of Xhgui to fix this.

[2016-07-22 21:41] #184 closed

[2016-08-04 21:50] denji commented on #166
* [pecl-mongodb](https://pecl.php.net/package/mongodb) (2.4 - 3.2)
* [pecl-mongo](https://pecl.php.net/package/mongo) (2.4 - 2.6/3.0)

| PHP Driver               | MongoDB 2.4 | MongoDB 2.6 | MongoDB 3.0 | MongoDB 3.2 |
|--------------------------|-------------|-------------|-------------|-------------|
| PHPLIB 1.0 + mongodb-1.1 | ✓           | ✓           | ✓           | ✓           |
| mongodb-

[2016-08-05 02:09] markstory commented on #166
@denji Ok. I don't really know what to do with that information. Xhgui is currently compatible with both the `pecl-mongo` and `pecl-mongodb` extensions. Perhaps this issue can be closed now?

[2016-08-10 10:19] jixianlqb opened #186 "Looks like the lack of a file---autoload.php"

[2016-08-10 19:57] markstory commented on #186
You make this file with `composer install`. Generally the `install.php` script runs composer which will result in this file being generated.

[2016-08-10 19:57] #186 closed

[2016-08-10 23:42] ppl0ncrack opened #187 "ftug"

[2016-08-10 23:43] ImpressiveDev opened #188 "Custom View default values generates an error"
The "Values to retrieve" input with default values:

[code]

Generates:

[code]

Running on NGinx 1.10, PHP 7.0.8 and MongoDB 3.0.7.

[2016-08-10 23:49] #187 closed

[2016-09-12 14:24] thias commented on #188
I have the same error, and here's the full PHP message I'm seeing with the current master code :

[2016-09-12 14:27] thias commented on #166
I have only the newer PECL mongodb 1.1.8 extension, and things are mostly working, so it seems like this report might no longer be relevant.

Then again, issue #188 which I am seeing too might be related.

[2016-09-13 02:19] #140 closed

[2016-09-27 10:33] ilyar commented on #184
Fix:

    composer install  --ignore-platform-reqs

[2016-10-11 21:55] heylarson opened #189 "Undefined index: mu"
When accessing the following URI: ```GET /run/view?id=57fd51b92b02db123c0c0712```, I'm receiving the following error ```Undefined index: mu```, with the exception:

[code]

I'm running PHP v7.0.11, with the following mongodb extension:

[code]

With the following xhprof extension:
[code]

And the latest commit of xhgui is ```7e35a4f2a2e21cc66a5a4e5a6b3840dc12ed03ad```

My mongod service (v3.2.10)

[2016-10-12 01:18] markstory commented on #189
The `mu` key tracks memory usage, I'm not sure why xhprof is not tracking those metrics for you though.

[2016-10-12 04:34] heylarson commented on #189
I thinks [this issue](https://github.com/phacility/xhprof/issues/82#issuecomment-238888790) might be the underlying problem.

[2016-10-12 15:48] markstory commented on #189
Have you considered trying the [tideways extension](https://github.com/tideways/php-profiler-extension) or [uprofiler](https://github.com/FriendsOfPHP/uprofiler) ? They might provide better compatibility with PHP7.

[2016-10-12 16:39] heylarson commented on #189
Great suggestion! I'll try them out today and report back.

[2016-10-20 21:25] heylarson commented on #189
tideways extension has worked great so far with php7

[2016-10-20 21:25] #189 closed

[2016-10-24 19:56] eblanshey commented on #184
The mongo php extension you used, called "mongo" is deprecated. XHGui is looking for the new "mongodb" extension: `sudo pecl install mongodb`

You might get an error like `pcre.h: No such file or directory`. Use one of the commands [here](http://stackoverflow.com/a/22559967/371699) for that.

[2016-11-11 09:27] elnebuloso opened #190 "twig/twig (v1.13.1) known vulnerabilities, use sematic versioning"
Is ist possible to update your dependencies?
You require twig as twig/twig": "^1.13.1", in a fix version.
Can you update the requirement to ~1.17? In sematic versioning there should be no problem.
Is it possible to use The ~ operator an the other dependencies, since in theory there should be no backwards compatibility breaks in the current major.

[CRITICAL]
  1 package has known vulnerabilities

[2016-11-11 10:06] #190 closed

[2016-11-11 19:39] markstory commented on #190
Done :smile:

[2016-12-01 15:52] poolerMF opened #191 "update readme"
hello ...

when someone use php7, xhprof must be installed like this:

[code]

I spent some hours on this ...
repository https://github.com/RustJason/xhprof or https://github.com/phacility/xhprof do not work for php7

[2016-12-01 22:08] markstory commented on #191
Could you send a pull request with the changes that should be made to the README?

[2016-12-01 22:12] poolerMF commented on #191
I'm just informing you, that this is important information I think
you can update it if you want
I'm sorry, I will not make pull request

[2016-12-01 22:18] markstory commented on #191
Thanks..

[2016-12-01 22:18] #191 closed

[2017-01-06 22:35] Krinkle opened #192 "Update Slim to 2.4.0 or higher"
ext-mcrypt was removed as a dependency in 2.4.0. ext-mcrypt wasn't a hard dependency in the first place, but was incorrectly present in composer.json before the 2.4.0 release in 2013.

Also:

I'm having issues installing xhgui because of ext-mcrypt not being present in my build environment.

[2017-01-10 03:27] markstory commented on #192
Any chance you'd be interested in helping upgrade to slim 2.4?

[2017-01-10 23:31] Krinkle commented on #192
@markstory Created a pull created for 2.4.x and one for 2.6.x. Seems there haven't been any breaking changes. I'll leave to you to choose which you prefer at this time.

[2017-01-11 02:07] #192 closed

[2017-02-14 06:40] sofire opened #196 "404 not found error"
http://xxx.com/run/view?id=58a28dbf6602cf14fc1119f2

In Nginx conf:
[code]
QUERY_STRING in $_SERVER :
"/run/view&id=58a28dbf6602cf14fc1119f2"

Should be:
[code]

[2017-02-14 18:56] markstory commented on #196
Would you be willing to update the README with the correct nginx configuration>

[2017-02-23 17:48] markstory commented on #196
Fixed in #197

[2017-02-23 17:48] #196 closed

[2017-02-24 17:21] mobilizer opened #198 "XHGui on PHP7.0 with TideWays extension (instead of Xhprof) - MongoDB fails on macOS brew"
I do not get php70-tideways working with Xhgui on OS X with brew php70.  (same for php56)
I get the following error: `FastCGI: incomplete headers (0 bytes) received from server`

XHGui and Tideways is added via

     php_value[auto_prepend_file]  = Users/..../xhprof/xhgui/external/header.php

I think I am missing some configuration.

ext-tideways.ini:

    [tideways]
    extension="/usr/local/Cell

[2017-02-25 01:43] markstory commented on #198
Have you checked you webserver error logs? From my understanding if you are connecting to the tideways daemon it will need to be running.

[2017-03-15 10:27] mobilizer commented on #198
It seams to be a problem with php70-mongodb.
Saving to file with `'save.handler' => 'file'` works.

It fails silently in MongoDB\Client constructor:

    $this->manager = new Manager($uri, $uriOptions, $driverOptions);

I also did a clean install of XhGui:

[code]

[2017-03-15 10:59] mobilizer commented on #198
Importing the saved data from the file to mongodb with

    php external/import.php -f cache/xhgui.data

show following error:

[code]

Might be some problem with macOS brew version of php70-mongodb.

[2017-03-15 11:11] mobilizer commented on #198
Actually it is really a problem with macOS and the brew version of mongodb.

Following fix works: https://github.com/Homebrew/homebrew-php/issues/3737#issuecomment-279932413

     brew edit php70-mongodb

[code]

     brew reinstall -s php70-mongodb

[2017-03-15 11:16] mobilizer commented on #198
@markstory BTW: Tideways daemon is not required when using XHGui.

Following settings in ext-tideways.ini work with XHGui:

[code]

[2017-03-15 19:23] markstory commented on #198
Thanks @mobilizer I'll add that to the readme.

[2017-04-05 11:32] lauripiisang commented on #85
Digging up graves, but FWIW, as @kuncajs proposed, I have extracted the minimal amount of code needed to provide a `data collector` from XHGUI project.
This is version-agnostic, should work on PHP 5.3 - 7.1 and doesn't modify (aside from deleting) the original code.

see https://github.com/lauripiisang/xhgui-data-collector
There's a version up on packagist as well.

Got scrutinizer rank up to 10.0

[2017-04-05 13:12] markstory commented on #85
@lauripiisang Would you be interested in moving that repository to this org? You could continue to maintain the collector, and we could work together to slim down this project to not contain the collector code.

[2017-04-05 14:27] lauripiisang commented on #85
@markstory I don't see why not. the current project is just a very basic teardown of the unnecessaries with compatibility in mind, but I'd love for it to evolve into something more.

How do we go about doing that?

P.S. on a different topic - please create tagged releases of `xhgui` project on packagist!

[2017-04-05 16:06] markstory commented on #85
There has been a recent change to remove the version key in the composer.json that should fix tags not getting picked up going forward. There doesn't seem to be a way to backfill existing tags into packagist though.

[2017-04-05 16:43] lauripiisang commented on #85
Clicking "update" in the project view should refresh all references

On Apr 5, 2017 19:06, "Mark Story" <notifications@github.com> wrote:

[2017-04-05 17:07] markstory commented on #85
It doesn't. I pushed that button a few times last night :cry:. Could packagist not be finding the tags because the old tags are prefixed with `v`?

[2017-04-05 18:59] glensc commented on #85
packagist tag problem solved: https://github.com/perftools/xhgui/pull/199#issuecomment-291960753

[2017-04-06 06:01] qiuyuexi opened #200 "Why does it show negative number of MemUse?"
![fdc84015-cf72-4326-b93b-a3e4e2895bcd](https://cloud.githubusercontent.com/assets/19420268/24739846/a6e55a5e-1ad0-11e7-8387-0a6ff0ff05e3.png)

the mu show  negative number, and the pmu is zero. l can't understand  what caused it ,could you tell me,thank you!

[2017-04-06 13:40] markstory commented on #200
Given the information at hand, I also have no idea. Sometimes a function can reduce memory use if it frees up memory by destroying objects, or other state.

[2017-04-06 13:40] #200 closed

[2017-04-07 02:23] qiuyuexi commented on #200
thank you。

[2017-04-07 02:32] qiuyuexi commented on #200
I just  include one php file which define 100 constants, sorry , my English is poor

[2017-04-10 07:12] lauripiisang commented on #85
I've pushed lauripiisang/xhgui-data-collector to perftools/xhgui-collector, but there are some issues to resolve:
https://github.com/perftools/xhgui-collector/issues/1

[2017-05-06 18:23] joebordes commented on #189
Hi
I just ran into this issue. I am using the tideways extension but it is not collecting any mu nor cpu information.
Did you configure it somehow to activate that?

thanks

[2017-05-06 20:52] joebordes commented on #189
I got it working by calling tideways with the correcet parameters:

[code]

HTH

[2017-06-07 11:40] Mte90 commented on #170
yes will be very useful to evaluate if use that tool

[2017-06-08 16:55] laynefyc commented on #188
$res = $this->_profiles->query($query, $retrieve)->limit($perPage);

$query and $retrieve  is not array in this code.

$query = json_decode($request->post('query'),true);
$retrieve = json_decode($request->post('retrieve'),true);

The function json_decode()  have to set second parameters as 'true'.

[2017-06-10 03:50] markstory commented on #188
@laynefyc Any chance you could open a pull request to fix that problem?

[2017-06-20 14:58] macdabby opened #203 "Tideway 4 import fails"
I am using tideways 4.1.2: 6a7a7aaf62f05606a81b447ad09110d081d8cf88

I am able to see the tmp files and they are written in php serialized format. However when i try to import, the import script tries to ready JSON format. I tried to alter that import script to read serialized instead, and it imported into mongo (see below) but it looks like none of the values match up.

Is xhgui not compatible wi

[2017-06-20 20:04] markstory commented on #203
I'm not sure. I've never used that version. I'm confident Xhgui could be updated to import that format if someone took the time to do it. I personally don't have much time to dedicate to supporting collectors that don't just work, but if you have interest/time I'm happy to help with reviewing changes and merging the results.

[2017-06-20 20:26] michaelbutler commented on #203
the function `tideways_disable` should be backwards compatible, byte for byte, with xhprof_disable. I'm using tideways 4.1.2 with XHGUI and it works, though I am using a custom data dumper & loader.

[2017-06-20 21:02] macdabby commented on #203
@michaelbutler is there anywhere i can see sample output of what it should look like? the importer is definitely expecting json and failing because my file is not json but php serialized

[2017-06-20 21:02] macdabby commented on #203
@markstory  if this turns out to be a legit issue i'd be happy to work on it - any info you have on the formats and what they are expected to be would be an awesome help

[2017-07-06 18:58] neclimdul commented on #166
header.php uses MongoDate which doesn't exist in pecl-mongodb so not 100% compatible yet.

[2017-08-22 10:45] itbdw opened #204 "simple_url also should be indexed"
I think we should add this to the README.MD

`db.results.ensureIndex( { 'meta.simple_url' : 1 } )`

[2017-08-22 17:27] markstory commented on #204
Any chance you could open a pull request to update the README?

[2017-08-23 12:09] lauripiisang commented on #188
Seems like the pull request that's been merged addresses this issue, so closing this

[2017-08-23 12:09] #188 closed

[2017-08-23 15:46] #204 closed

[2017-08-23 16:03] michaelbutler opened #207 "Flamegraph assumes nodes are self-time only"
Hello, when using XHGUI with the Flamegraph (the Callgraph view shows correct times) I noticed that the times are inflated very large, something around 8X the actual amount. I debugged it down to happening in JS inside D3. My guess is that D3 is assuming the nodes are self time only, so it's recalculating the total time by recursively adding its children, however XHGUI has already calculated that

[2017-08-24 17:43] markstory commented on #207
That sounds like a reasonable fix to me.

[2017-09-28 02:19] SimonDeconde opened #209 "xhgui: document to insert contains invalid key: keys cannot contain ".""
Hi there

I'm trying to install xhprof +xhgui, but something is not working with mongoDB. After a full setup, when I browse a page on my project, I'm getting errors in apache logs saying:

(I haven't been able to find any similar ticket issues for xhgui on this specific topic)

I'm using:
- mongoDB 2.4.9
- the latest xhgui git code (master branch, but I've also tried release 0.8.1 and 0.8.0)
- xhp

[2017-09-28 09:09] felixkk commented on #209
Same error on a debian server...
In the requirements, it says we should use "Mondodb 2.2.0 or later".
Maybe 2.4.9 is too late ?

[2017-09-28 17:25] markstory commented on #209
Sounds like at some point mongo has changed what is valid in keys. I'm still using an old mongo (2.2.4). If `.` isn't valid in new mongo, we'll likely need to rebuild xhgui :cry:

[2017-09-30 21:27] martins-olekss commented on #209
Ran in same issue just now. Everywhere I search, only workaround is to modify keys before saving - in this specific case doesn't sound too possible.

Using mongo 2.6.10

As far I have found there is no setting to turn this key check off.

[2017-10-02 09:53] lauripiisang commented on #209
This is odd. I'm using MongoDB 3.0.14 and have no such issue.

Do note that top-level keys probably cannot contain such a profile, this must be stored in a lower level key!

e.g. you cannot have
[code]

but
[code]
is valid, at least from what I understand and what I see in my database.

I encountered a similar error and it turned out I was creating the profile object wrong.

[2017-10-02 09:53] lauripiisang commented on #209
Can you please post the full document at the time of insert (use debugger?)

[2017-10-02 12:48] martins-olekss commented on #209
@lauripiisang do I understand correctly, you wish to see $data content just before
`$saver->save($data);` in external/header.php ?

Just as side-note - noticed that this exception happens only when I use auto_append in server (nginx) config. If I disable auto_append and try to encompass code with `xhprof_enable` and `xhprof_disable` functions - exception doesn't happen anymore. Even more - new rec

[2017-10-02 13:35] lauripiisang commented on #209
$saver->save($data); in external/header.php ?

That would do, but I'd prefer the document submitted to mongo (deeper down the call stack).

With header.php, you're supposed to be using `auto_prepend`, not append!

Can I ask you to try out  https://github.com/perftools/xhgui-collector in your project and see if you still encounter problems?

I use the `register_shutdown_function` like provided in `

[2017-10-02 13:38] lauripiisang commented on #209
I think I can get the profiling library I developed open-sourced so you can have an easier time at using this.

[2017-10-05 00:00] Krinkle commented on #85
It looks like perftools/xhgui should at least depend on perftools/xhgui-collector. Rather than the code being duplicated. This would also keep perftools/xhgui backwards compatible with existing usage. The main concern is that the collector used in production is minimal.

[2017-10-05 04:02] glensc commented on #85
common parts should be moved to separate library instead. this was also @lauripiisang opinion.

but this is likely not worked on (beside lack of time/interest/profit) because it would be major breakage for people who do not use composer for xhgui installation. currently it's standalone, no external (composer) dependencies.

this could be solved two ways:
- introduce major version, which requires c

[2017-10-06 02:07] markstory commented on #85
I think requiring composer might be an option now. Back when this project started, I don't think composer was as widely used as it is today. Making tarballs for releases isn't that hard either. I have some make scripts to do just that from automating releases in CakePHP.

[2017-10-06 08:34] lauripiisang commented on #85
We could have some plans for major version then in general, like PSR-4 compatibility and perhaps some restructuring, better error handling.

WDYT?

[2017-10-06 08:38] emilycraps commented on #209
I have the same issue. This is the output for the $data variable that will be saved to Mongo:

[code]
Mongo version: v2.4.14
XHProf version: 0.9.4
PHP version: 5.6.16

[2017-10-06 20:49] markstory commented on #85
Sounds like a plan. I think there are a bunch of things we can and should improve.

[2017-10-10 21:57] samt2497 commented on #209
Had the issue, fixed it by encoding the stored profile.

[2017-10-10 23:11] markstory commented on #209
Thanks @samt2497 Closing as there is a pull request open now.

[2017-10-11 08:15] lauripiisang commented on #209
Well, I found the reason why it worked for some and didn't work for others:

https://jira.mongodb.org/browse/PHPC-712 seems to have been a bug in the adapters causing the ignorance of said dot-check. That is to say, the documents could still be inserted, just not updated afaik.
The newer versions of the adapters fix this by not allowing keys with dots.

While @samt2497 -s provided unicode-based en

[2017-10-11 08:20] lauripiisang commented on #209
Reopening issue to get some opinions on the data restructure solution.

[2017-10-11 23:44] markstory commented on #209
If we have to restructure the data should we also consider moving away from mongodb entirely? A few features like multi domain support and ad hoc queries are more complex because of mongo. Furthermore the awkward datetime handling and limited set of aggregation functions limit our ability to offer dashboards and summary data.

[2017-10-14 06:50] felixkk commented on #209
@markstory
That would be good news !
Everything around me is using MySQL, having to install mongodb is a bit painful  when you don't know.

The sysadmin finally managed to get around the bug and install xhgui, and it looks excellent.
If it could just have a more "friendlier" install phase, it would be a new must have for us.

[2017-10-14 17:27] michaelbutler commented on #209
For what it's worth, I have a private fork of XHGUI that uses MySQL. I'm storing the data in MySQL in a separate project, and XHGUI is just reading off that table. To do this I tried to abstract the data storage away as much as possible, so one could "switch" to a different storage driver using the config file. Not everything is supported with this MySQL abstraction though, such as some of the agg

[2017-10-16 15:52] Krinkle opened #211 "Legibility issues on flame graph"
On a typical flame graph I find two problems that impair its usability:

<img width="546" alt="screen shot 2017-10-16 at 16 44 14" src="https://user-images.githubusercontent.com/156867/31621314-49bbd278-b291-11e7-9b5e-a962e853409b.png">

1. The text has a text-shadow applies which makes the text somewhat blurry and rather hard to read.
2. The color contrast between the yellow, orange and reds is v

[2017-10-16 15:56] Krinkle commented on #211
Regarding the text rendering issue, to confirm - the original demo is not affected <http://martinspier.io/d3-flame-graph/>

This is purely a problem from D3 and Bootstrap ending up on the same page. We could override the styles stronger on our side. But a better solution would be for upstream to use a less generic class name in this case.

[2017-10-16 17:13] markstory commented on #211
Any chance you'd be willing to make a pull request with with the proposed changes?

[2017-10-19 19:56] josdagaro opened #212 "Flamegraph does not match table data and callgraph"
The function main inclusive wall time value is the sum of the time invested in itself in addition to its children, this value is correct in the flamegraph, but in the callgraph and table data the values aren't the same.

![3](https://user-images.githubusercontent.com/17706518/31791287-b71233d2-b4dd-11e7-9d69-be50d1f9c944.png)
________________________________________________________________________

[2017-10-19 19:57] josdagaro commented on #212
I need help understanding this.

[2017-10-19 20:04] michaelbutler commented on #212
I think there is a bug in the flamegraph. Notice how on the main `Recent runs` page it says 150ms wall time, that's the overall time it took for the whole request. You can confirm using chrome network inspector. The callgraph also shows `main()` taking 150ms wall time, also correct. The flamegraph says 454ms, that is not correct.  The reason for this is that it adds the total time (150ms) plus the

[2017-10-19 20:05] michaelbutler commented on #212
sidenote: check your server charset settings, looks like you are possibly serving up ISO-8859-1 encoding instead of UTF-8.

[2017-10-19 21:18] josdagaro commented on #212
I'm confused, if the flamegraph is incorrect, ¿how is the total wall time calculated?

[2017-10-19 21:39] josdagaro commented on #212
The inclusive wall time of main function is the sum of all its secondary functions, ¿right? So, ¿why is the sum of the self wall times of their children not equivalent to the inclusive wall time of the main function?

[2017-10-20 00:52] markstory commented on #212
It should be close, but it won't be exact as xhprof is not able to capture 100% of every operation, there is always a bit of slippage/loss.

[2017-10-20 14:05] josdagaro commented on #212
Check this:
![1](https://user-images.githubusercontent.com/17706518/31824527-e7dd0a40-b574-11e7-813b-b23080fcc0e9.png)
![2](https://user-images.githubusercontent.com/17706518/31824528-e806ca24-b574-11e7-9762-f5c97b92123f.png)
![3](https://user-images.githubusercontent.com/17706518/31824529-e81fd42e-b574-11e7-9ecd-fc3e9dcc3af9.png)
![4](https://user-images.githubusercontent.com/17706518/31824531-e8

[2017-10-20 14:30] michaelbutler commented on #212
First you need to find out what is really the true correct inclusive wall time values.

Your data (the index table, which should be the correct thing) is reporting that db_connect took 32ms inclusive wall time... that means it took 32ms if you did something like this:

[code]

Most surely that is correct, but please confirm by actually using that snippet above and writing the value with `error_log

[2017-10-20 20:57] markstory commented on #212
You could also look at the data in mongodb. If xhprof has recorded the data 'wrong' we can never make the page look right.

[2017-10-23 15:15] josdagaro commented on #212
I'm very confused, ¿is it possible that "self wall time" is greater than "inclusive wall time"?

[2017-10-23 19:37] michaelbutler commented on #212
Inclusive Wall Time will always be greater than Self Wall Time.

[2017-10-23 19:55] josdagaro commented on #212
Oh, right, I saw wrong..., I thought time was 468,000 but is just 468; my error.
Ok, I saw this page from a third party: [xhprof](http://xhprof.tk) and the results are the same.

[2017-10-23 19:57] josdagaro commented on #212
¿Is the wall time sum in the flamegraph the same of callgraph?

[2017-10-24 01:04] markstory commented on #212
It should be. The callgraph and flamegraph use the same data under the hood.

[2017-10-25 10:07] dhampik commented on #209
For anyone experiencing this issue, I was able to make it work by adding the following snippet of code to `xhgui/external/header.php` right before `ignore_user_abort(true);` call. Not sure how correct is this and if it could affect anything else, but it did the trick for me.
[code]

[2017-11-08 15:03] ossinkine opened #213 "Add ability to specify ignored_functions parameter"
Sometimes I need to ignore some functions in the profiler.
[xhprof_enable](http://php.net/manual/ru/function.xhprof-enable.php) takes `ignored_functions` option as second argument.
I propose to add the same parameter to config.

[2017-11-08 16:29] markstory commented on #213
Sounds reasonable to me.

[2017-11-12 21:45] Krinkle commented on #211
Note to self:

Updating d3.flameGraph CSS/JS to latest versions is blocked on:

* Deal with local hack 1: 71f521e3d4dfdb7c890619b805f002d02960494b
* Deal with local hack 2: 0ff9af8543e2cd7a3ba6817eb291aa8721334910
* Upgrade d3 from v3.x to v4.x. (Current: 3.0.8, Previously required by flameGraph: 3.5, now required by flameGraph: 4.0)

First error I got on current d3 version is `d3.partition` undef

[2017-11-14 06:51] Krinkle commented on #212
This is a duplicate of https://github.com/perftools/xhgui/issues/207.

[2017-11-15 01:27] markstory commented on #207
Closing as #216 has more context.

[2017-11-15 01:27] #207 closed

[2017-11-15 02:14] #213 closed

[2017-12-07 06:42] Firesphere opened #220 "Which version is compatible with `php5-mongo`"
I'm trying to get this to run with php5-mongo extension instead of phpx.x-mongodb. What version is compatible with that type of installation?

[2017-12-07 12:43] markstory commented on #220
Probably 0.6.0 and earlier. After that php7 support was added requiring us to use the newer extension.

[2017-12-23 10:59] liangmingran opened #221 "[error] he 'cursor' option is required, except for aggregation explain"
if you mongo version >3.5 , you will see the error in Recent runs pages  by clicking an url link

fix it by modify /path/xhgui/src/Xhgui/Profiles.php

[code]

[2017-12-24 01:33] markstory commented on #221
Any chance you could send a pull request for this fix? I don't use mongo > 3.5.

[2018-01-02 15:22] boldhedgehog opened #222 "tideways is now tideways_xhprof"
Hi,

Tideways PHP profiles extension is now (v5.0) called tideways_xhprof, and they renamed all key functions and constants 5 days ago.

https://github.com/tideways/php-profiler-extension/commit/fc808db5c3df0e4055db612d15224b3acd1eaa88

[2018-01-02 18:44] markstory commented on #222
Perhaps we should document that < v5 is required.

[2018-01-05 15:08] beberlei commented on #222
@markstory for PHP 7 you should support the new extension if possible, it reduces the overhead significantly and is based on a completly modern C codebase. You can find some info about migrating in the blog post: https://tideways.io/profiler/blog/releasing-new-tideways-xhprof-extension

[2018-01-05 18:23] markstory commented on #222
@beberlei Ok.

[2018-01-08 03:02] #222 closed

[2018-01-10 12:57] bogdan-dubyk commented on #209
@dhampik is your fix require some more manipulations?  It showing all available profilings list as well, but when i click on some of them I'm getting  error:

[code]

[2018-01-10 14:03] dhampik commented on #209
@bogdan-dubyk no, only the change that I wrote.

[2018-01-22 19:15] mhf-ir opened #226 "Output fluentd or fluentbit log collector"
If output set to udp or tcp fluentd log collector will be awesome.
Designing Microservice any log collector like fluentd or logstash can collect logs and buffer it to actual storage like mongo or elastic will be awesome.

[2018-01-23 19:54] skors opened #227 "composer.lock file is outdated"
Hi,

the composer lock file is outdated, for example the perftools/xhgui-collector dependency is missing in it. This result in an error when using the external/header.php into any project:

`Warning: require_once(/opt/xhgui/vendor/perftools/xhgui-collector/external/header.php): failed to open stream: No such file or directory in /opt/xhgui/external/header.php on line 9`

[2018-01-23 20:40] #227 closed

[2018-01-23 20:40] markstory commented on #227
I'm going to remove the lock file. This project supports too many versions of PHP to bundle one reliably.

[2018-01-23 21:28] skors commented on #227
thanks for the quick response!

[2018-01-23 21:42] skors commented on #221
Hi,

I've added a pull request #228  for this to patch, based on @liangmingran informations

[2018-01-24 00:08] markstory commented on #221
Thanks @skors

[2018-01-24 00:08] #221 closed

[2018-01-24 01:36] tm1000 commented on #220
@markstory if that is true then the repository should be updated to state that you require php 7 and also reference the newer mongodb library. Currently in the readme it does not

[2018-01-24 01:52] tm1000 commented on #220
I see the issue. In the readme of this project it is still referencing the older mongo pecl library

[2018-01-24 02:38] tm1000 commented on #209
@dhampik thank you. Worked for me.

[2018-01-24 02:54] markstory commented on #220
@tm1000 It probably should, I've just not found time to put that at the top of my list.

[2018-01-27 21:19] w7089 opened #229 "Your requirements could not be resolved to an installable set of packages during php install.php"
Getting the error in apache error log:

`PHP Fatal error:  require_once(): Failed opening required '/var/www/html/xhgui/vendor/autoload.php' (include_path='.:/usr/share/php') in /var/www/html/xhgui/external/header.php on line 6`

After accessing website with prepended _/var/www/html/xhgui/external/header.php_

I guess _xhgui_ installer failed. Below is the output of running _php install.php:_

Wou

[2018-01-28 00:37] markstory commented on #229
Do you have a mongodb extension installed?

[2018-02-06 07:05] #154 closed

[2018-02-12 08:51] hegoku opened #232 "The 'cursor' option is required, except for aggregate with the explain argument"
Env:
macos 10.12.6
php7.1
mongodb 3.6.2

When I view `http://127.0.0.1/xhgui-branch/webroot/url/view?url=%2Fsys3%2Fcompany-service%2Fweb%2FgetSubmitStatus` ,  this error occurs:

[code]

[2018-02-12 10:39] hegoku commented on #232
Update to last version resolved

[2018-02-12 10:39] #232 closed

[2018-02-13 07:54] tm1000 commented on #166
According to #220 you have to use mongodb driver (the newer one) as the older mongo doesnt work at all (composer refuses to install). Thus this should be closed. See #220 for more information

[2018-02-13 10:18] jrbarnard commented on #166
@tm1000 Thanks, will close

[2018-02-13 10:18] #166 closed

[2018-02-13 14:49] #220 closed

[2018-02-26 10:04] PrinzJuliano commented on #229
I got the warning by composer that the `composer.lock` file does not match the `composer.json` and thus it exits without creating a vendor directory!

[2018-02-26 10:20] PrinzJuliano commented on #229
I receive the same issue in a docker container built on Jan 15th 2018.

[2018-02-26 10:45] PrinzJuliano commented on #229
This however results in this message on the start page:
[code]

[2018-03-02 11:00] 1ma opened #234 "Sqlite backend support"
I really like xhgui, but I find it a bit ridiculous that it needs a MongoDB daemon to function. If I were to refactor the `Profiles` class so that it were able to persist and read either from Mongo or an Sqlite3 database, would you be interested in a PR for that?

The behaviour would still be controlled with the `save.handler` option (say, by setting it to `sqlite`) and `save.handler.filename`, th

[2018-03-02 15:35] markstory commented on #234
I would be ok with moving off of mongodb. I find it painful to operate and its use has created a bunch of complexity around aggregation and summary data.

Instead of going to 'just' SQLite, we could use a database abstraction layer like cakephp/database to enable the use of postgres/sqlite/mysql with relative ease.

[2018-03-02 15:52] 1ma commented on #234
Yup. Well, I've just started to peek at the code, but as of now my tentative plan would be more or less:

1. Extract an interface from `MongoDB`
2. Create a "dummy" class that extends `MongoDB` and implements said interface
3. Replace `MongoDB` with said interface in the [`Profiles` constructor](https://github.com/perftools/xhgui/blob/b2440c1488691ba4d2ccd698bb7661ac0e3fbe99/src/Xhgui/Profiles.php

[2018-03-02 19:28] markstory commented on #234
That sounds like it could work well.

[2018-03-21 07:24] yoh commented on #229
I install the php mongo extension requirement (`sudo apt-get install php-mongodb`on debian) and it solve this problem.

[2018-03-27 08:29] GrzegorzDrozd commented on #234
Any update on this ?

[2018-03-27 09:02] 1ma commented on #234
Since I opened the ticket I forked the project and made a couple of small contributions to get acquainted with the project (#235, #236). Then life happened and I stalled, but I intend to get back on this.

This is the feature branch: https://github.com/1ma/xhgui/tree/backend-decoupling Design-wise, I now intend to extract an interface from `Profiles` instead of `MongoDB` because it is very highly

[2018-04-05 14:34] Zaporozhec7 commented on #232
I have same problem, but with latest Xhgui (0.9.0).
MongoDB: 3.6.0
PHP: 7.1.15
Xhgui: 0.9.0

@hegoku , in "Update to last version resolved" you mean last bersion of Xhgui?

[2018-06-07 17:11] glensc opened #240 "tideways: Undefined index: cpu"
Using [Tideways](https://github.com/tideways/php-xhprof-extension) extension.

collecting seems fine, but can't view individual details with 0.9.0 (or 0.8.1)

[code]

could include more details. just wanted the bugreport out there first.

[2018-06-10 01:14] markstory commented on #240
I'll see if I can reproduce.

[2018-06-24 22:09] Krinkle commented on #155
Might be related to https://github.com/perftools/xhgui/issues/240

[2018-06-27 19:12] 1ma opened #241 "Test suit breaks when using MongoDB > 3.4"
From the master branch, the issue can be quickly reproduced with the help of docker:

[code]

Might be related to #221, #232

[2018-06-28 17:00] #241 closed

[2018-06-29 22:14] 1ma commented on #234
Quick update: I resumed this task a few days ago. As of now, the `xhgui-collector` can store profiles in SQLite and `xhgui` can retrieve the summary to print them in the home page. Still quite a long way to go, though.

[2018-07-06 08:35] Mte90 commented on #125
Ping for this, there is a way to add the domain instead of only urls (without domains)?

[2018-07-06 14:30] Mte90 commented on #125
It is very strange because we have `/a-glus-of-the-url` but no `demo.test/a-slug-of-the-url`.
Where is required to change that? I can try to do something.

[2018-07-06 15:49] markstory commented on #125
@Mte90 when data is saved by the collector https://github.com/perftools/xhgui-collector/blob/efbc19d2a0aa7905b1fc4a38baedc4a9f716a56e/external/header.php#L160 we would need to track the host separately. Having that would allow the ui to create host specific displays or allow searching by host.

[2018-07-06 16:14] Mte90 commented on #125
As I can see store the `$_SERVER` but this doesn't already include the domain on `$_SERVER['SERVER_NAME']`?

[2018-07-06 17:17] markstory commented on #125
Good point. The server data also contains the host.

[2018-07-06 17:33] Mte90 commented on #125
So we need to change only the UI to show that data to start only on the list and later on the rest?

[2018-07-19 14:31] mloberg opened #245 "Use Globally Installed Composer"
What's the rational behind installing composer and not using a global composer install (if available)?

[2018-07-19 15:35] markstory commented on #245
It was easier. Finding a default system composer across *nix and windows isn't a simple task.

[2018-07-20 12:08] #245 closed

[2018-09-16 17:47] Krinkle commented on #212
@markstory Yes, the display issues that are made apparent by https://github.com/perftools/xhgui/pull/216, however, the issue is pre-existent.

In my opinion, the current flame graph implementation is almost useless, and highly deceptive. The only reason it doesn't look broken is due to various bugs cancelling each other out. But a close look at any part of the stack, exposes its information to be

[2018-09-17 20:49] markstory commented on #212
I'm ok with removing the flamegraph output entirely. If its not helpful and can't be made helpful there is no point in keeping int.

[2018-09-17 21:52] Krinkle commented on #212
@markstory Yeah, I'm sad to see it go, but in the short-medium term we should probably look into the Callgraph visualisation instead.

Callgraph is a bit harder to navigate, but is true to the data and super accurate. In it also useful in ways that Flamegraphs can't be, such as visually emphasising methods that are called a lot and take much time, but are called from different sub-trees. The Callg

[2018-09-19 03:53] markstory commented on #212
Yes :+1:

[2018-09-24 00:51] #212 closed

[2018-09-24 01:45] #211 closed

[2018-11-20 12:36] tomlinux opened #247 "Call to undefined method Xhgui_Profile::getSQL()"
php5.6.31

[root@centos7 ~]# php --ri xhprof
xhprof
xhprof => 0.9.2
CPU num => 4
![image](https://user-images.githubusercontent.com/16485766/48774023-f8d20b80-ed03-11e8-9741-f78fb345dbee.png)

日志显示错误：
018/11/20 19:35:50 [error] 2104#0: *2739453 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Call to undefined method Xhgui_Profile::getSQL() in /data02/wwwroot/xhgui/src/Xhgui/Controller/Run.

[2018-11-21 02:19] markstory commented on #247
Have you tried updating your copy of Xhgui? The line in your error logs

[code]

Does not exist in [current master](https://github.com/perftools/xhgui/blob/master/src/Xhgui/Controller/Run.php#L116)

[2018-12-20 22:23] Krinkle commented on #136
Is this resolved by https://github.com/perftools/xhgui/pull/238, or is there more to be done?

[2018-12-20 23:27] Krinkle opened #248 "Add read-only mode for the web interface"
The last release introduced the first write operations in the web interface (as far as I know).

Specifically:
* Delete a run.
* Delete all runs.
* Upload a run (import).

Given that Wikimedia runs a public XHGui instance, we'll need a way to disable these routes so as to avoid accidental and/or abusive write actions.

[2018-12-21 02:17] markstory commented on #248
Sounds like a good idea to me :+1: Could it be a configuration setting to enable the read-only mode?

[2018-12-21 02:17] #136 closed

[2018-12-21 03:04] Krinkle commented on #248
@markstory Yep, makes sense.

[2019-01-04 03:34] woowli opened #253 "PHP7 的版本安装不成功，mongodb 报错"
**版本信息:**
 - 操作系统: [CentOS 7]
 - PHP [PHP7.0.30]
 - 扩展 [tideway.so ]
 - MongoDB extension version  [1.5.3]
 - MongodDB 版本  [v1.4.2]

**具体报错信息：**
Fatal error: Uncaught Error: Class 'MongoClient' not found in /home/yuli/work/img-server/vendor/laynefyc/xhgui-chinese/src/Xhgui/ServiceContainer.php:77 Stack trace: #0 /home/yuli/work/img-server/vendor/pimple/pimple/lib/Pimple.php(126): Xhgui_ServiceCont

[2019-01-04 03:38] #253 closed

[2019-01-04 15:04] markstory commented on #248
Using POST for write operations is a good practice to follow anyways. Thank you for opening a pull request to fix that mistake. If your requirements for having a read-only xhgui are solved by moving all the writes to POST/PUT/DELETE then perhaps we don't need an additional configuration variable. Folks deploying xhgui tend to have a bit more control over their environments.

[2019-01-09 14:21] #248 closed

[2019-01-14 11:39] sergeycherepanov opened #258 "Sort operation used more than the maximum 33554432 bytes of RAM. Add an index, or specify a smaller limit."
Hi, and thanks for the amazing tool!

But unfortunately I have the issue with large requests.

[code]

The stack trace:

[code]

Does exists any way to pass through it?

[2019-01-14 14:40] markstory commented on #258
I am not sure. You might need to change your monk configuration or give it more memory.

[2019-01-14 14:58] sergeycherepanov commented on #258
Hi @markstory, yes you are right.

It helped:

[code]

I think will be good to add this case to the README

[2019-01-18 23:17] ScreamingDev opened #259 "Uncaught Error: Class 'MongoClient' not found"
The `Class 'MongoClient' not found` error occurs with correctly installed mongodb php extension
and using `composer install --no-dev`.
Please make xhgui work when installing with no-dev.

Having less clutter in the vendor dir would be great.

* #253 may relate to this

[2019-02-22 09:17] apuppy commented on #209
It worked for me, thank you.

[2019-03-03 15:20] hAtul89 opened #260 "xhgui won't work with PHP 7.3 because of tideways_xhprof"
Following this tutorial - installing xhgui with tideways:
http://divyanshu-techbook.strikingly.com/blog/xhgui-for-ubuntu-with-php-7

I added the files:
[code]
With the content of:
[code]
(and not `extension=tideways.so` as mentioned in the tutorial... )
running `php -v` outputs:
[code]

`php --ri tideways` returns:
[code]

The file: `/usr/lib/php/20180731/tideways_xhprof.so` exits for sure under t

[2019-03-03 18:25] markstory commented on #260
Seems like an issue with tideways and not xhgui.

[2019-03-13 18:10] Krinkle opened #261 "Discourage caching of run lists"
At Wikimedia Foundation we use XHGui to store Tideways-xhprof profiles from "debug" requests (request where, via a special header enabled via a browser extension, you opt-in to a full call graph and then internally submitting it to database that the public XHGui instance reads from).

All web services by default (including XHGui) pass through a CDN layer for caching and flood protection (Varnish C

[2019-03-13 18:11] Krinkle commented on #261
@markstory If you approve of this, could you point me in the right direction on where to add this?

[2019-03-14 01:02] markstory commented on #261
This all sounds reasonable to me. There is an existing [.htaccess](https://github.com/perftools/xhgui/blob/master/webroot/.htaccess) config file. If you'd prefer we could update the application endpoints to emit the Cache-Control headers as well.

[2019-03-19 17:12] Mte90 opened #262 "Remove string from all the URLs"
![immagine](https://user-images.githubusercontent.com/403283/54626878-67389780-4a72-11e9-805b-96c6f0eeeb30.png)
As the screen there is this parameter in the URL but I want that is removed or atleast not showed because is useless.

[2019-03-19 17:13] Mte90 commented on #125
any updates for this? I am integrating xhgui on VVV and there is the support of multiple domains.
I don't think that I have time to work on that right now.

[2019-03-19 21:06] markstory commented on #125
Not really. I haven't had much time to dedicate to this project recently.

[2019-03-22 14:51] Mte90 commented on #262
I was trying to implement that with a custom function in `config.php` and add a  `function_exists` check to run.
Anyway in twig file this funciton not exists in that way.
There is a way to pass a function in the config array?
I see that this data is generated by Mongo so there is no way to hook and change them.
@markstory do you have any suggestion?

[2019-03-22 22:03] markstory commented on #262
If you are hoping to remove data from the result data wouldn't it be simpler to do that before a run is saved?

[2019-03-23 09:39] Mte90 commented on #262
I was thinking that is better to have all the data in the system and later to not show them but after all this tool has a "Delete all" feature so this is not a problem.
I will check how to execute it before to save the data.

[2019-03-26 14:03] Mte90 commented on #262
and #24 is here :-)

[2019-03-28 09:09] lauripiisang commented on #260
It seems to me that you are unable to load tideways_xhprof extension in PHP, this has nothing to do with xhgui.
Xhgui merely processes the output of said exentsion.
The error would suggest that you have to load tideways.so as well.

[2019-03-28 09:09] #260 closed

[2019-04-23 02:10] Krinkle commented on #262
I suppose this ticket can be closed now :)

[2019-04-23 11:58] #262 closed

[2019-05-07 09:52] shengbinxu opened #266 "the Inclusive Wall Time of Current function bigger than all Child functions"
![image](https://user-images.githubusercontent.com/3232275/57290722-91ace580-70f0-11e9-8d66-69d19ec439f1.png)

the Inclusive Wall Time of current function is : 30,321us
and the total  Inclusive Wall Time of all children function is less than 15,000us,
 why ? I think the two time should nearly equal.
and the code is :

![image](https://user-images.githubusercontent.com/3232275/57290886-ec464180-70f

[2019-05-07 13:35] michaelbutler commented on #266
@shengbinxu The reason for that is **inclusive CPU time** means time spent in PHP code performing operations -- think string manipulations and arithmetic. It does **not** include time taken by I/O operations or waiting on the database or network, for example. **Inclusive Wall Time** includes everything including the I/O operations.

See https://blackfire.io/docs/reference-guide/time for more info.

[2019-05-09 11:58] shengbinxu commented on #266
@michaelbutler  thank you very much !  I understand what you said.

[code]
but, I still do not understand why about this, where the difference of about 15,000us gone?

[2019-05-09 16:00] Krinkle commented on #266
@michaelbutler It takes time to run the statements in a function.

* Initialise variables and call stack.
* Create `$cache` variable, and create `null` value, assigned.
* Access `db` object, access `enableSchemaCache` member, cast to boolean and compare to true.
* Evaluate `instanceof`, `isset()`.
* Interpolate strings.
* Etc.

Similar to how your `getRawTableName` function needs time to run, your

[2019-05-10 07:36] shengbinxu commented on #266
@Krinkle  Very good answer! thank you very much

[2019-05-13 19:40] athoune opened #267 "database part of mongodb url is not handled"
In `config.default.php`

[code]
The mongodb url pattern is `mongodb://user:password@server/database?options`.
So, the url is enough, and setting can be done with just one environment.

Side effect : when you mess with database, mongodb doesn't care, and just wait for writing in your wrong database. It's a silent error.

[2019-05-20 22:04] jon-frankel opened #269 "127.0.0.1:27017: unrecognized field "cursor"
When I click on the URL for a run from any page, I get this error:

[code]

This happens with any run with any URL. I'm running xhgui through edyan/docker-xhgui with the 5.6 version. The only thing I've customized in the dockerfile is the location of the config script.

Is it missing an index, or not creating fields where it should?

[2019-06-10 21:00] #261 closed

[2019-06-12 20:54] Krinkle opened #271 "Unable to install composer dependencies on PHP 5.6 with ext-mongo"
I'm upgrading a legacy install from xhgui's master on January 9th this year to the latest master, and facing an issue where I'm unable to satisfy Composer in a way that it will install dependencies.

The server in question has PHP 5.6 with ext-mongo natively installed, which XHGui supports (and technically even prefers, given it simulates this older library on top of the newer ext-mongodb).

This

[2019-06-12 20:58] Krinkle commented on #271
I've tried changing the require-dev declaration as follows:

[code]

But that instead produces the following error:

[code]

This then results in the lower level `mongodb/mongodb` package complaining about ext-mongodb, which is only meant to be triggered when `ext-mongodb` is present.

[2019-06-12 21:05] Krinkle commented on #271
I've found a workaround for now by fooling composer that `ext-mongodb` is installed, despite this not being true.

[code]

This will probably fall apart at some point, but at least for now it seems nothing is depending on this yet in ways that causes issues. It installs the right dependencies and cursory testing of the instance shows it works fine.

[2019-06-12 21:17] Krinkle commented on #269
I'm encountering the same issue on a legacy XHGui install that uses MongoDB 2.4. While EOL, the README specifies compatibility with MongoDB 2.2 and later.

Most everything works fine, including the run lists and run views. The only thing that doesn't work is clicking a url in the index view, which is meant to show a reduced set of profiles that match the same url.

While I don't need this feature

[2019-08-08 09:59] maxgalbu opened #274 "Profile multiple runs on the same script - document rules of aggregation/skipping"
With an always-running PHP (while(true)) script and profiler.enable set to return true to profile all runs, the xhgui-collector still doesn't collect all the runs. Is there any way to collect multiple runs for the same script? What are the rules to avoid aggregation/skipping of runs?

[2019-08-08 10:11] maxgalbu commented on #274
Found it:

[code]

[2019-08-14 04:28] jaimin-nimble commented on #258
Hi @sergeycherepanov

Can you please help me solving this issue? which appears when I use the following code

db.adminCommand({setParameter: 1, internalQueryExecMaxBlockingSortBytes:100151432})

This is the error I received

{
    "operationTime" : Timestamp(1565752556, 1),
    "ok" : 0.0,
    "errmsg" : "not authorized on admin to execute command { setParameter: 1.0, internalQueryExecMaxBlockingS

[2019-08-15 16:40] ScreamingDev opened #275 "Show bottlenecks"
Right now there are columns like:

* Call Count
* Self Wall Time
* Self CPU

But the really interesting information is:

* Wall Time per Call (= Self Wall Time / Call Count)
* Wait time (=Self Wall Time - Self CPU)
* Wait time per Call (= Wait time / Call Count)

Ordering the table by this information shows what is taking much time.
Please add such information and make it sortable.

[2019-08-18 20:59] GrzegorzDrozd commented on #234
My PR with different storage engines is here: https://github.com/perftools/xhgui/pull/273

[2019-08-19 14:20] sergeycherepanov commented on #258
Hi @jaimin-nimble
From the error text, we can conclude that the problem is in the authorization. You must authorize as admin first.

[2019-09-11 15:53] yingding commented on #258
@jaimin-nimble
after added the root role in admin db, i can execute the adminCommand
[code]
You can find the details on the discussion in [stackoverflow](https://stackoverflow.com/questions/35881662/show-dbs-gives-not-authorized-to-execute-command-error/43403072#43403072)

[2019-09-13 21:28] therealgilles opened #276 "Docker install: how do I get the vendor/autoload.php and vendor/perftools/xhgui-collector/external/header.php files?"
I am trying to use xhgui with tideways on mac os x 10.15. I used the docker instructions and the webserver came up. But I am not sure how to get access to the vendor files necessary to enable profiling with my php app.

Thank you for any guidance.

[2019-09-13 21:48] therealgilles commented on #276
I ran this to extract the files from docker:

```docker cp <xhgui_app_container_id>:var/www/xhgui/vendor vendor```

Is that the way to go?

[2019-09-13 21:51] therealgilles commented on #276
The 'wt' (wall time) parameter shows 0, so something must be amiss.

[2019-09-26 00:26] markstory commented on #276
You don't extract the header file. Instead you can use the xhgui-collector package in your application. The dockerfilenis more for hosting the gui.

[2019-09-27 06:55] gabel commented on #203
@macdabby Even though this is an old topic. The format has to be `json` to work with `import.php` that means you have to convert the php serialized files or save the profile in json format.

Example

[code]

The result file can now be imported using `import.php -f yourapp.123.xhprof`.

[2019-11-04 06:56] HarishKumarGudivada commented on #258
I faced the same issue, we created the indexes for the columns in mongodb which resolves our issue .

[2019-12-24 08:08] matteo-gz commented on #209
this way is so cool

[2020-01-01 02:31] zl939144892 opened #278 "When I update PHP to 7.4. Slim reports an error."
![image](https://user-images.githubusercontent.com/18364560/71637597-c2461e80-2c81-11ea-9c6b-ec10bb10fd89.png)

[2020-01-01 03:54] markstory commented on #278
Sounds like there is some work to do to upgrade to a newer version of slim that works with PHP7.4. For now you'll have to use PHP 7.3 or lower.

[2020-01-02 02:18] zl939144892 commented on #278
Correct, I've already degraded PHP to 7.3. (7.4 discards too many functions)

[2020-02-28 13:35] boldhedgehog commented on #258
@HarishKumarGudivada could you please share what indexes on which columns?

[2020-04-16 23:52] flip111 commented on #276
This happens because on startup you get to see

Then you include the `header.php` file, but this one is from the "normal" non-dockerized source code. At the moment no method has been described in the readme how to get profile information into the docker container.

I don't understand this comment. Even with using this package you still have the situation that your app is outside of the container,

[2020-04-17 12:55] glensc commented on #276
for saving samples, I recommend using the new package:
- https://github.com/perftools/php-profiler

and yes, of course, it needs access to the same MongoDB instance, where GUI reads the data.

how you manage to do that depends very much on your setup.

If you have ideas for documentation update, PR's are most welcome :)

ps: you quote text, which is not from this issue (https://github.com/perftool

[2020-04-17 15:59] flip111 commented on #276
The main problem is getting data into the database, not to get it out.

This issue is #276 maybe you are mixing up issues?

[2020-04-19 08:22] glensc commented on #234
Seems @GrzegorzDrozd work in https://github.com/perftools/xhgui/pull/273 (open) overwrites changes done in: https://github.com/perftools/xhgui/pull/244 (merged)

For example:
- `Xhgui_Searcher_Interface` -> `Xhgui_Profiles`

But https://github.com/perftools/xhgui/pull/244 summarizes:
- `Xhgui_Profiles` was renamed to `Xhgui_Searcher_Mongo` and an interface (`Xhgui_Searcher_Interface`) was extracte

[2020-05-09 09:36] dingyl opened #283 "执行流程图无法完全展示(Callgraph not full show)"
执行流程图无法完全展示(Callgraph not full show)

`
    var el = d3.select(container),
        width = parseInt(el.style('width'), 10),
        height = 1000;

    var svg = d3.select(container).append('svg')
        .attr('class', 'callgraph')
        .attr('width', width)
        .attr('height', height)
    ;
`

height is fixed value and dynamic width value is not correct

[2020-05-09 15:02] markstory commented on #283
Any chance you could send a pu request to fix what you think is incorrect?

[2020-06-19 09:51] glensc opened #285 "Release 0.10.0"
0.9.0 was released Nov 15, 2017, there are 120 commits to master since this tag.

We should make a new release, so that the project does not look stale and the new changes can be used.

# Merged branches

- Merge pull request #244 from 1ma/backend-decoupling
- Merge pull request #279 from FreeLSD/patch-1
- Merge pull request #280 from researchgate/driveroptions
- Merge pull request #215 from Krink

[2020-06-19 09:51] glensc commented on #285
@markstory do you have any checklist of goals what should be solved before 0.10.0 is tagged?

[2020-06-19 12:37] Krinkle commented on #285
Perhaps it's time for 1.0?

[2020-06-19 13:50] markstory commented on #285
No. I've not had much time to devote to this project lately. I'm happy to do a 1.0 release as I think the current state is pretty stable. The next big changes are likely to do large dependency upgrades and potentially stop using mongodb.

Mongodb has long been challenging as many users are not familiar with operating it, and I think for what this project does mongo isn't a great fit. There have be

[2020-06-19 14:50] glensc commented on #285
@Krinkle I'd rather polish the multiple backend support a bit. i.e so that the xhgui stays closed box solution that you operate over HTTP via the new client library:
- https://github.com/perftools/php-profiler

using pdo, mongo, etc seems un-neccessary difficulty if you just want to measure your application.

having client layer thin, I don't think people care what xhgui uses internally. just laun

[2020-06-19 15:54] Krinkle commented on #285
That'd be cool yeah, would reduce coupling I suppose. Although it does mean that the XHGui server would no longer be read-only and cleanly isolated network-wise, which is something I currently enjoy, but I'd probably prefer the HTTP solution indeed.

Would adding that API be a breaking change though? Or would it be something we add-on in a minor release?

[2020-06-20 02:51] markstory commented on #285
I don't think 'run and forget' is viable for production and most pre-production environments outside of local development.

Supporting both a document store and SQL based storage solutions makes future changes harder as contributors need to be aware of the nuances of both. It also impedes feature work as new features would need to be compatible with both storage models, and often sql/mongo have co

[2020-06-25 02:29] markstory commented on #285
I published 0.10.0, we can always do a 1.0.0 in a bit if things are feeling more settled for other folks.

[2020-06-25 10:35] glensc commented on #285
All right. Thanks for finishing this!

[2020-06-25 10:35] #285 closed

[2020-07-09 18:36] glensc commented on #234
closing this as https://github.com/perftools/xhgui/pull/244 is merged

[2020-07-09 18:37] #234 closed

[2020-07-09 18:38] glensc commented on #240
outdated

[2020-07-09 18:38] #240 closed

[2020-07-11 16:47] glensc commented on #276
@flip111 What I tried to say, is that you quote text which origin is unclear:

[2020-07-11 16:49] glensc commented on #276
there's documentation update going on, you're welcome to review it: https://github.com/perftools/xhgui/pull/293

[2020-07-13 17:22] flip111 commented on #276
The origin is here https://github.com/perftools/xhgui/issues/276#issuecomment-535276320

[2020-07-14 08:24] glensc commented on #276
docs merged, you should use the recommended library:
- https://github.com/perftools/xhgui#profiling-a-web-request-or-cli-script

[2020-07-14 08:24] #276 closed

[2020-07-14 13:53] mkolyn opened #296 "PDO initialization issue"
File: src/Xhgui/ServiceContainer.php
Line: 93
Issue: wrong parameters when calling PDO initialization (the second parameter must be a user, third one - a password)
![pdo-init-issue](https://user-images.githubusercontent.com/3929696/87433895-84439300-c5f2-11ea-9218-78e800357f6b.png)
![pdo-init](https://user-images.githubusercontent.com/3929696/87433927-8ad20a80-c5f2-11ea-853e-108662de5a5e.png)

[2020-07-14 14:36] glensc commented on #296
@mkolyn so send a [Pull Request](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests) with a fix!

[2020-07-16 07:22] glensc commented on #198
closing as being outdated.

profiler install instructions can be found here:
- https://github.com/perftools/php-profiler/#installing-profilers

[2020-07-16 07:22] #198 closed

[2020-07-16 07:27] glensc commented on #271
you may more useful to jus use docker based install:
- https://github.com/perftools/xhgui/#installation-with-docker

[2020-07-16 07:32] glensc commented on #203
@macdabby you should switch to tideways v5, it works for me with PHP 7.3:
- https://github.com/perftools/php-profiler#installing-profilers

@gabel you are talking about the file saver:
- https://github.com/perftools/php-profiler#file-saver

[2020-07-16 07:32] #203 closed

[2020-07-16 08:04] glensc commented on #85
[perftools/xhgui-collector] has been created, which is now superseded by [perftools/php-profiler] package.

[perftools/xhgui-collector]: https://github.com/perftools/xhgui-collector
[perftools/php-profiler]: https://github.com/perftools/php-profiler

[2020-07-16 08:04] #85 closed

[2020-07-16 08:06] glensc commented on #170
What views are you interested in?

here's index view:

![image](https://user-images.githubusercontent.com/199095/87644064-4c546100-c754-11ea-9798-a7100989d260.png)

[2020-07-16 08:11] Mte90 commented on #170
I think the single view of a request

[2020-07-16 08:14] glensc commented on #170
![image](https://user-images.githubusercontent.com/199095/87644942-778b8000-c755-11ea-9f24-70a29c93653b.png)

![image](https://user-images.githubusercontent.com/199095/87644977-840fd880-c755-11ea-8f5b-fbc089c6f018.png)

[2020-07-16 12:43] Krinkle commented on #271
I suggest we drop PHP 5.6 support in that case. Thisi is no longer an issue for Wikimedia (we run the latest XHGui only  on PHP7).

[2020-07-17 00:21] Krinkle opened #299 "Decide on coding style and enforce mostly with PHPCS"
Less burden on reviewers, less guess work on the contributing person (ergo me). Also automation in supporting IDEs with automatic fixing/adapting as needed.

It looks like the current code looks mostly like PSR-2.  Is that intentional?

[2020-07-17 00:21] Krinkle commented on #16
1. [x] The writer have an to swapping with other backends

Done per https://github.com/perftools/xhgui/pull/244. See also #11.

2.[x] Use compsoer for dependencies.

Done.

3. [x] Separate writer and reader config.

Done with <https://github.com/perftools/php-profiler>.

4. Use PSR*.

There will always be another PSR. But overall I don't think this matters much for XHGui since it has almost no dep

[2020-07-18 20:02] aik099 commented on #170
@glensc , what different views do we have? I've used these views, but maybe there are more:

* list view - where all recorded profiling sessions are shown
* details view - where I can see individual profiling session details
* callgraph view - the dynamic/static SVG image shown call graph with execution/memory time and problematic points highlighted
* comparison view - way to compare 2 profiling s

[2020-07-20 13:26] laokan opened #300 "docker-compose not work"
`Step 10/25 : COPY --from=composer:1.8 /usr/bin/composer /usr/bin/
1.8: Pulling from library/composer
c9b1b535fdd9: Pull complete
c1c0a1817bec: Pull complete
cdd5b3ea1fc3: Pull complete
db87396003bd: Pull complete
ff6d460d7b33: Pull complete
65eb6d20c777: Pull complete
8c0455ae8de1: Pull complete
cb8921b52d2e: Pull complete
27936edf200c: Pull complete
0936bdd4591d: Pull complete
b3a3a25cf032: Pull

[2020-07-20 14:08] glensc commented on #300
temporary error. can't reproduce.

[code]

if the problem persists, you may need to contact https://packagist.org/ support, not here.

[2020-07-20 14:08] #300 closed

[2020-07-21 02:06] markstory commented on #299
Yes and no. I think PSR2 is a good base target to get to. I never got around to fully updating the existing code though.

[2020-08-12 15:20] Krinkle opened #303 "Support basic url filter with PDO backend"
The workflow for Wikimedia's XHGui is to instrument a page load, and then get a link to `https://xhgui/?url=<requestID>` ([example](https://performance.wikimedia.org/xhgui/?url=3687efbd-ccda-4859-8dbe-0ab4e65a98b1)), which yields one result, and is the one the user is interested in.

With the new PDO backend, it seems none of the search options are implemented yet, so this currently leads to all r

[2020-08-15 00:47] markstory commented on #303
Getting the PDO backend up to a place where it can replace the mongodb backend would be great. I think the PDO backends will make xhgui easier to get going and simpler to operate.

[2020-08-19 07:40] #296 closed

[2020-08-19 21:36] Krinkle commented on #271
This is now being done at https://github.com/perftools/xhgui/pull/307.

[2020-08-19 21:36] #271 closed

[2020-08-20 20:37] Krinkle opened #308 "Document how to operate a public XHGui instance"
The `/import` and `/delete` endpoints are something you generally don't want to leave exposed to the Internet. At Wikimedia, we've turned these off at the web server layer hoping that it can't be bypassed.

That suffices for now, but I'd like to either integrate this into the software, or embrace it as the recommended practice and advertise/document it here so that other people can learn from it,

[2020-08-21 07:26] #303 closed

[2020-08-21 07:30] glensc commented on #308
I think as first step these endpoints should be disabled by default and enabled only when someone explicitly enables them in config.

[2020-08-25 04:44] glensc opened #309 "Import Savers from perftools/xhgui-collector"
https://github.com/perftools/php-profiler/pull/29 is merged, and therefore we no longer need `perftools/xhgui-collector` split and we should archive https://github.com/perftools/xhgui-collector project.

# tasks

- [x] import xhgui-collector history: https://github.com/perftools/xhgui/pull/310
- [ ] archive https://github.com/perftools/xhgui-collector @markstory
- [x] remove all irrelevant parts c

[2020-08-27 06:35] glensc commented on #309
cc @perftools/maintainers

[2020-08-27 06:45] glensc opened #311 "Publish docker images"
We should publish pre-built docker images, so that setting up an instance is faster. as currently, the build process takes some time. and save green energy! 👍

[code]

This kind of also ensures the builds are verified to be working the same for everybody (we don't track `composer.lock`, so the outcome may vary depending on when you build).

In the future, we could build separate mongo and pdo vari

[2020-08-31 01:28] markstory commented on #309
Sounds like a good plan to me. We'll need to update the README and installation instructions when the header.php file is removed.

[2020-08-31 12:08] DmitryOb opened #314 "Dockerfile update"
After this commit https://github.com/perftools/xhgui/commit/0b802595dd3f9803e61e5fbc94a715948fa69cb1
Building docker image are failed linked with this row in dockerfile:
`RUN composer require --update-no-dev --no-scripts alcaeus/mongo-php-adapter ^1.1`

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package pimple/pimple (locked at v1.1.

[2020-08-31 12:29] #314 closed

[2020-08-31 12:51] glensc commented on #314
@DmitryOb please include reason for closing

[2020-09-01 09:07] glensc commented on #311
@markstory can you organize access please:

create org on hub.docker.com and add user glen access to push.
or you prefer to use github infra (they have also docker registry support)?

I've personally have not used github infra or dockerhub automation, so I'd go with manual pushing to dockerhub.

[2020-09-01 09:08] glensc commented on #311
# Re: variants

I don't think we need multiple variants, rather add support for both modules. it's just PHP extensions.

[2020-09-02 13:09] lauripiisang commented on #309
Cool, makes sense to me! Nice to see the projects coming together 👍

[2020-09-02 16:38] glensc commented on #309
@markstory the header.php is not mentioned in the readme at all. I believe it was removed when the xhgui-collector package was split. so there's no documentation to update.

[2020-09-03 14:38] Mte90 opened #318 "call_user_func_array() expects parameter 1 to be a valid callback, class 'Xhgui_Util' does not have a method 'simpleUrl'"
I am getting this when I press the filter button.
[code]

To fix it I changed https://github.com/perftools/xhgui/blob/master/src/templates/runs/view.twig#L17 with:
[code]

But before to do a pr I prefer to know if also this it will be removed.
I think that the issue is there https://github.com/perftools/xhgui/blob/7d22da694c8f9a6e45f6cc82f168a05a253a3817/src/Xhgui/Twig/Extension.php#L41 that refer

[2020-09-03 17:50] glensc commented on #170
found some blog posts (from https://varyingvagrantvagrants.org/docs/en-US/references/tideways-xhgui/) that have images included. perhaps just add the links to readme?

- https://blog.engineyard.com/profiling-with-xhprof-xhgui-part-2
- https://blog.engineyard.com/profiling-with-xhprof-xhgui-part-3

[2020-09-03 18:02] glensc commented on #318
🚧 Never link to branches, share a permalink 🚧
- see https://news.ycombinator.com/item?id=8046710
  and https://help.github.com/articles/getting-permanent-links-to-files/
  and https://docs.gitlab.com/ee/user/shortcuts.html#project-files
- hit `y`
- and perhaps for https://github.com/josephfrazier/octopermalinker (GitHub)

NOTE: edit your post and fix it with a permalink!

[2020-09-04 08:14] #318 closed

[2020-09-04 08:16] Mte90 commented on #318
Thanks for the hints, I didn't know if the `y` hotkey.
Happy that the patch worked :-)

[2020-09-04 08:22] glensc opened #320 "Equalize data store backends"
We have been merging changes that gradually added support for PDO databases. However recently the changes have been shifting towards PDO: https://github.com/perftools/xhgui/pull/305 supports only PDO.

We should track the differences somehow, so both support can be improved.

_Please leave a comment on what you know is missing from one type of data store and I'll update this table._

----

| Featu

[2020-09-04 15:32] aik099 commented on #170
That's a good idea. I wonder if XHGui images used there taken from the 2013 year are still valid in the 2020 year.

[2020-09-07 03:38] markstory commented on #311
@glensc I created the dockerhub org and added you as an owner. :smile:

[2020-09-07 06:25] glensc commented on #311
published for the last tag (0.13.0):
- https://hub.docker.com/repository/docker/xhgui/xhgui

[2020-09-14 11:56] athoune opened #322 "PDO integration is rough"
I'm trying to use Mysql PDO connector (with a Mariadb 10.1), with XHGui 0.13.0 :

* The lazy table creation never throw error in `src/xhgui/vendor/perftools/xhgui-collector/src/Xhgui/Saver/Pdo.php`
* Table name is escaped with ", and mysql cli doesn't like it, ` seems to be more standard
* The id column is not specified enough : `ERROR 1170 (42000): BLOB/TEXT column 'id' used in key specification

[2020-09-14 13:38] glensc commented on #309
@markstory could you please complete task assigned to you?

[2020-09-14 13:46] glensc commented on #322
Now that xhgui-collector is imported back to this project:
- https://github.com/perftools/xhgui/pull/310

can perhaps use doctrine or cakephp/database abstractions for database.

altho these indicated by you could be just fixed to be compatible with sqlite/mysql/pgsql simple changes.

[2020-09-14 16:05] glensc commented on #311
PR adding more pdo drivers: https://github.com/perftools/xhgui/pull/323

[2020-09-14 16:05] #311 closed

[2020-09-14 17:11] #16 closed

[2020-09-14 17:34] glensc commented on #274
I had a very similar question:
- https://github.com/perftools/php-profiler/issues/39

[2020-09-14 17:48] glensc commented on #124
Stale. No feedback.

[2020-09-14 17:48] #124 closed

[2020-09-14 17:49] glensc commented on #226
This belongs to the profiler package now:
- https://github.com/perftools/php-profiler

submit issue (or preferred pull request) there if this is still relevant.

[2020-09-14 17:49] #226 closed

[2020-09-14 17:54] glensc commented on #44
the flush can be turned off in php-profiler:
- https://github.com/perftools/php-profiler/pull/25

another solution is to enable `output_buffering = on`

[2020-09-14 17:54] #44 closed

[2020-09-14 17:56] glensc commented on #247
Problem caused by outdated code, or locally modified xhgui installation

[2020-09-14 17:56] #247 closed

[2020-09-14 18:07] glensc commented on #322
could you please elaborate what that statement means?

[2020-09-14 18:17] glensc commented on #322
seems pgsql/sqlite accept `"`, MySQL accepts `` ` ``, so the only portable way without too much abstraction is to remove escaping at all, i.e use bare words.

some alternative solutions is to let it be configurable

ref:
- https://evertpot.com/writing-sql-for-postgres-mysql-sqlite/

[2020-09-14 18:33] glensc commented on #322
changed id column to match MongoId length: 24 characters:
- https://www.php.net/manual/en/mongodb-bson-objectid.construct.php

NOTE: this will break on 2038/2106 year (depending on cpu bits). likely fix is to increase column length to be 25 characters. but deal with the problem when it's due :)

[2020-09-14 20:09] athoune commented on #322
My ugly debug is :

[code]

Throwing an exception when `$ok` is false can be more simple.

[2020-09-14 20:12] athoune commented on #322
I just inject my first xhprof trace to Mysql with the 322-pdo branch !

[2020-09-14 22:33] glensc commented on #322
so your statement means table creation errors are not checked!

[2020-09-15 00:19] glensc commented on #322
Besides table name, `GET` column also needs to be escaped for MySQL (at least for 5.7)

[2020-09-15 00:48] #229 closed

[2020-09-15 00:48] #259 closed

[2020-09-15 01:14] glensc commented on #320
Probably here's up to date checklist what could be missing:
- https://github.com/perftools/xhgui/pull/244

[2020-09-15 01:24] glensc commented on #322
also, pgsql fails with:

[code]

so, I think currently only sqlite was really supported?

[2020-09-16 14:02] athoune commented on #322
Ok, you are speaking about this part of Doctrine : https://github.com/doctrine/dbal/ not the ORM part.

[2020-09-16 16:31] glensc commented on #322
@athoune can you find compatible quoting for table names and column names that are valid for all common pdo modules:

- mysql
- pgsql
- sqlite

i think no such exist, and can't omit quoting as GET is reserved keyword in mysql?

[2020-09-22 19:51] athoune commented on #322
The Doctrine's DBAL handles all the little differences between databases :

 * https://github.com/doctrine/dbal/blob/2.11.x/lib/Doctrine/DBAL/Schema/MySqlSchemaManager.php
 * https://github.com/doctrine/dbal/blob/2.11.x/lib/Doctrine/DBAL/Schema/PostgreSqlSchemaManager.php
 * https://github.com/doctrine/dbal/blob/2.11.x/lib/Doctrine/DBAL/Schema/SqliteSchemaManager.php

I don't know what is the simp

[2020-09-24 16:27] glensc commented on #322
@athoune can test this PR?
- https://github.com/perftools/xhgui/pull/336

[2020-09-25 18:02] markstory commented on #309
@glensc The xhgui-collector repository has been archived now.

[2020-09-28 06:33] #309 closed

[2020-09-30 19:56] #322 closed

[2020-10-06 12:44] ngyuki opened #343 "ErrorException: Undefined index: mu on src/Xhgui/Profile.php:385"
Run xhgui with  `error_reporting=-1`.

[code]

Empty `profiler.flags` in php-profiler.

[code]

Show profile results in xhgui, will see following error.

[code]

[2020-10-06 16:59] glensc commented on #343
@ngyuki: which storage?

[2020-10-06 17:01] glensc commented on #343
seems to be the same problem: https://github.com/perftools/xhgui/issues/146

[2020-10-06 23:58] ngyuki commented on #343
@glensc Thank you for reply. I using mongodb.

[2020-10-07 00:02] ngyuki commented on #343
If that is case, I think it would be more friendly if `ProfilingFlags::CPU` and `ProfilingFlags::MEMORY` could not be disabled.

[2020-10-07 08:37] glensc commented on #343
Is the profiling even useful if you have not enabled any profiling flags?

I believe that just hiding the notices is not a solution.

[2020-10-07 14:45] ngyuki commented on #343
I can only confirm it with tideways_xhprof, but even if all the flags are disabled, only the wall time is measured.

I think the problem is that the flag defaults to empty in php-profiler, so xhgui errors in that config.

https://github.com/perftools/php-profiler/blob/master/src/Profiler.php#L280

[2020-10-07 18:07] glensc commented on #343
so, only wall time is measured is actually useful?

[2020-10-07 18:07] glensc commented on #343
🚧 Never link to branches, share a permalink 🚧
- see https://news.ycombinator.com/item?id=8046710
  and https://help.github.com/articles/getting-permanent-links-to-files/
  and https://docs.gitlab.com/ee/user/shortcuts.html#project-files
- hit `y`
- and perhaps for https://github.com/josephfrazier/octopermalinker (GitHub)

NOTE: edit your post and fix it with a permalink!

[2020-10-12 01:16] ngyuki commented on #343
It's same problem as #146, so I'll close it

[2020-10-12 01:16] #343 closed

[2020-10-14 12:20] glensc commented on #146
Here's a snapshot of profiling data:
- no flags: https://github.com/perftools/php-profiler/blob/0.14.0/tests/Resources/tideways_xhprof.json
- cpu flags: https://github.com/perftools/php-profiler/blob/0.14.0/tests/Resources/tideways_xhprof_cpu.json
- cpu & mem flags: https://github.com/perftools/php-profiler/blob/0.14.0/tests/Resources/tideways_xhprof_cpu_memory.json

so, in case you wonder what th

[2020-10-19 15:05] Mte90 opened #349 "PDO: If empty database there is a stacktrace"
I am getting `General error: 1 no such table: results` with an empty sqlite file.
[code]
If I run xhgui in a page with tideways the error changes and the file now has some content.

I get another error `Undefined variable: direction`:

[code]

Looking at https://github.com/perftools/xhgui/blob/9d02c131b77604f409e98f9472589886dd3b6c34/src/Xhgui/Searcher/PdoSearcher.php#L116 that variable indeed is

[2020-10-19 17:40] glensc commented on #349
one issue per one problem, please.

does your problem go away if you record one profiling? previously all SQL errors were ignored, so as a result the error is now thrown that was previously ignored.

[2020-10-20 09:15] Mte90 commented on #349
Thanks for the fix.
About the first issue, as I can see the sqlite file is created but is just empty with no table, so when you open xhgui you get an error with the stacktrace (that mention to check mongo also if not used).
So maybe a more welcome message like "do some scans with xhgui so this page will be filled" (my english is horrible) is better.

[2020-10-20 10:40] glensc commented on #349
this isn't solved yet. the issue was closed automatically due to the merge and you reporting two problems in one issue. so only 50% is fixed.

[2020-10-20 10:42] glensc commented on #349
perhaps opening SQLite db creates the file. I'm thinking of lazy init the table if an error of unknown table occurs.

[2020-10-20 10:42] Mte90 commented on #349
Seems a good idea so it is less heavy for performance.

[2020-10-20 10:43] glensc commented on #349
also, you did not reply to my question:

[2020-10-20 11:02] Mte90 commented on #349
Sorry I am testing everything now and I get this error inside XHGUI:
[code]
Also if I profile a page.

[2020-10-21 18:05] glensc commented on #209
Now Ive encountered this myself as well. with ZF1 the autoloader entries look like this:

[code]

[2020-10-21 18:20] glensc commented on #209
For everybody there seems to be "load::" in call stack, I also have "run_init::" prefixes.

I wonder it's xhprof quirk or something?

My data is from PHP 5.3 and xhprof 0.9.4

[2020-10-21 18:28] glensc commented on #209
indeed, it's present in xhprof 0.9.4 extension.

these code paths add filenames to call tree, and filenames obviously can contain the dot:

- run_init: https://github.com/phacility/xhprof/blob/0bbf2a2ac34f495e42aa852293fe0ed821659047/extension/xhprof.c#L1016
- ???_op: https://github.com/phacility/xhprof/blob/0bbf2a2ac34f495e42aa852293fe0ed821659047/extension/xhprof.c#L1002
- load: https://github.c

[2020-10-21 21:21] glensc commented on #209
Re: https://github.com/perftools/xhgui/issues/209#issuecomment-336650545

@michaelbutler still there?

have you considered sending PRs of your changes? over the time this project has got pdo support, but it's not complete either:
- https://github.com/perftools/xhgui/issues/320

[2020-10-21 23:43] michaelbutler commented on #209
@glensc I haven't updated the project in quite a while but if I get a chance I'll try the latest version with PDO and see if I have anything to add

[2020-10-22 07:08] glensc commented on #349
The submit some profiling message dialog is already there

[code]

[2020-10-22 07:38] #209 closed

[2020-10-22 08:14] glensc commented on #349
Initialize schema on PdoRepository construction:
- https://github.com/perftools/xhgui/pull/355

if someone wishes to make it on demand, I would not say no to a PR that does it portaby :)

[2020-10-22 09:52] #349 closed

[2020-10-22 10:15] Mte90 commented on #349
Seems everything fixed now :-)

[2020-10-22 11:02] glensc commented on #274
https://github.com/perftools/php-profiler#advanced-usage:

[code]

[2020-10-22 11:02] #274 closed

[2020-10-24 08:31] glensc commented on #343
I tested submitting only wall time, the output is useful. just cpu and mem columns are empty.

[2020-10-24 18:08] glensc commented on #146
@ngyuki: https://github.com/perftools/xhgui/pull/362

[2020-10-28 13:35] Mte90 opened #364 "MongoDB is not mandatory anymore?"
On VVV now we are using Sqlite but the composer.json of this project and composer.lock require the mongo library.

If mongo is not installed the library block the execution of XHGUI with a warning and blank page, so I had to remove it from the composer.json file to work.

[2020-10-28 15:40] glensc commented on #299
@markstory perhaps remove Sticker CI integration? it seems broken and no support.

It's marked CI job as failed, example: https://github.com/perftools/xhgui/pull/363

but can't retrieve any details why.

the link from PR leads to https://stickler-ci.com/repositories/156-perftools-xhgui but that says "bummer, The requested address /repositories/156-perftools-xhgui was not found."

The "login" on th

[2020-10-28 16:39] glensc commented on #364
PDO support is not complete, so MongoDB is still the recommended and default datastore:
- https://github.com/perftools/xhgui/issues/320

Please include the exact error and details of your second statement in the issue body.

[2020-10-28 16:41] Mte90 commented on #364
![Screenshot_20201028_174055](https://user-images.githubusercontent.com/403283/97467780-d364c800-1944-11eb-9bec-3c1a1c8544ab.png)

This is what happens and removing the package fix it.

[2020-10-28 16:42] glensc commented on #364
That message is emitted by composer. And removing what?

[2020-10-28 16:43] Mte90 commented on #364
Ops sorry I forgot the most important part....
Removing `alcaeus/mongo-php-adapter` from the composper.json and a composer update that warning is gone and I can use XHgui.

[2020-10-28 16:45] glensc commented on #364
You can disable platform check or use composer 1.x:
- https://getcomposer.org/doc/06-config.md#platform-check

[2020-10-28 16:52] Mte90 commented on #364
Seems that composer v2 is enabled as true but with false is fixed.

I am trying with `composer config platform-check false`.

[2020-10-29 19:54] markstory commented on #299
@glensc Oddly enough I run stickler, and never got any support emails. I can look into what is not working with the login flow. There are [build logs and results](https://github.com/perftools/xhgui/runs/1321901057) in the Github checks views though.

[2020-10-30 14:36] glensc commented on #299
@markstory ok, I can see output via GitHub actions, so I guess can leave as is then.

The other link gave an error and I contacted their support, but the ☎️ is dead

![image](https://user-images.githubusercontent.com/199095/97717902-f969a400-1acd-11eb-8bf1-1b1868cb5626.png)

[2020-11-02 15:10] tomjn commented on #364
Would it make more sense to declare the mongodb adapter package a suggested/recommended dependency? Keeping in mind we already use composer v1.

Also, changing the platform-check option appears to be a Composer v2 feature, this is the result of Composer v1:

[code]

The readme, repo description, and documentation claim that PDO is currently a supported option. It is clear that this is not the case

[2020-11-02 15:22] Mte90 opened #369 "Undefined index: page"
An user reported a bug with xhgui, https://github.com/perftools/xhgui/blob/e7d4d21a777a6580b115247782ce53bf5fac1517/src/Xhgui/Searcher/PdoSearcher.php#L101

From here https://github.com/perftools/xhgui/blob/master/src/Xhgui/Searcher/PdoSearcher.php#L101 it is not clear if that key exists.

[2020-11-04 17:41] glensc commented on #364
Patches in form of pull requests are welcome.

[2020-11-04 17:42] glensc commented on #369
🚧 Never link to branches, share a permalink 🚧
- see https://news.ycombinator.com/item?id=8046710
  and https://help.github.com/articles/getting-permanent-links-to-files/
  and https://docs.gitlab.com/ee/user/shortcuts.html#project-files
- hit `y`
- and perhaps for https://github.com/josephfrazier/octopermalinker (GitHub)

NOTE: edit your post and fix it with a permalink!

[2020-11-04 17:43] Mte90 commented on #369
Sorry I forgot it again

[2020-11-04 17:44] glensc commented on #369
This PR covers this topic: https://github.com/perftools/xhgui/pull/363

but I have not able to test the branch other than making the CI pass.

[2020-11-04 17:55] Mte90 commented on #369
I don't see any error but in waterfall page there is this:
![Screenshot_2020-11-04 XHGui](https://user-images.githubusercontent.com/403283/98150691-59e25200-1ecf-11eb-876d-21b1d8ad7b6e.png)

[2020-11-04 18:03] glensc commented on #369
???

[2020-11-04 18:05] Mte90 commented on #369
Sorry I meant that I tested with that branch and I don't see any error.

[2020-11-04 18:10] glensc commented on #369
You could have said that in that PR then, would be made more sense.

merging it then.

[2020-11-04 18:12] #369 closed

[2020-11-04 18:13] #146 closed

[2020-11-04 18:14] glensc commented on #278
you can mitigate the problem by removing deprecation from error reporting.

[2020-11-04 19:48] tomjn commented on #364
As is ours, I would produce a patch myself but I am unfamiliar with the conventions and structure of this repo, nor do I have the administrator access to amend all instances that need adjusting, e.g. the repo description

[2020-11-05 01:46] zl939144892 commented on #278
thx

[2020-11-06 21:52] glensc commented on #364
as noted in the first response in this issue, pdo support is just incomplete:
- https://github.com/perftools/xhgui/issues/364#issuecomment-718059271

"incomplete" does not mean outright wrong and pdo not working.

there have been fixes continuously to improving pdo support with releases 0.10..0.16:
- https://github.com/perftools/xhgui/releases

those fixes are based on user reports and some of the

[2020-11-07 00:50] tomjn commented on #364
You have at least 2 PDO users complaining here. I don't mind if using PDO only gets us 90% of the functionality, or if we have to take additional steps, **as long as it's clearly stated**, which it is not. You yourself reviewed our PR's trying to implement PDO and did not catch this.

You can make whatever decisions you want for your own project, just that you document them accurately. I shouldn't

[2020-11-09 16:49] Mte90 opened #371 "Empty xhgui list also if sqlite has content"
Attached there is a sqlite database with some urls but xhgui doesn't show anything.

Those are the settings if they can help on understand the issue
[code]

[xhgui.zip](https://github.com/perftools/xhgui/files/5512012/xhgui.zip)

[2020-11-10 09:31] tquensen commented on #371
I have the same issue with mysql (MariaDB)

Data gets inserted successfully via importer but the GUI doesn't show anything

`cat config/config.php
<?php
return array(
        'save.handler' => 'pdo',
        'pdo' => [
                'dsn'    => 'mysql:host=localhost;dbname=xhgui',
                'user' => 'root',
                'pass' => '****',
                'table' => 'profiles'
        ],

[2020-11-10 12:32] #371 closed

[2020-11-10 13:01] glensc commented on #267
It's difficult to support such configuration, this would mean xhgui needs to parse on its own 'db.host' dsn to extract database name from it.

There doesn't seem to be a method to fetch default database from `$mongo` connection:
- https://github.com/perftools/xhgui/blob/0.16.2/src/Xhgui/ServiceContainer.php#L106-L107

[2020-11-10 13:02] #364 closed

[2020-12-08 18:33] jackrabbithanna opened #377 "Instructions for setup with PDO, MySQL ?"
Trying to figure out how to setup this tool with MySQL.

Already have functioning webserver / database, with many Drupal setups.

Would prefer not to have to hassle with MongoDB

Surely I'm missing something easy. Any help appreciated!

Editing config.default.php, updating the 'save.handler' and 'pdo' array values:
[code]
When I go to the xhgui address in my web browser, I get some error output:

[2020-12-08 18:55] jackrabbithanna commented on #377
['pdo']['dsn'] should be something like 'mysql:host=localhost;dbname=xhprof'

[2020-12-08 18:55] #377 closed

[2020-12-14 18:12] glensc commented on #267
Perhaps better approach is to refactor to use different structure:

[code]

and build the DSN style variable in the code.

[2020-12-17 14:15] #267 closed

[2020-12-19 09:22] glensc commented on #269
So, this happens with MongoDB 2.2, and the fix is to use MongoDB 2.4?

[2020-12-19 09:29] glensc commented on #155
I think this is resolved with https://github.com/perftools/xhgui/pull/362

Please create new issue, if that's not the case.

[2020-12-19 09:29] #155 closed

[2020-12-19 09:41] glensc commented on #104
Profiling is a separate project now.

So this would be solved in there: https://github.com/perftools/php-profiler/pull/58

[2020-12-19 09:41] #104 closed

[2020-12-19 09:55] glensc commented on #125
Showing hostname in listing was added in #243 (0.10.0)

For filtering, there's still open issue: https://github.com/perftools/xhgui/issues/63

[2020-12-19 09:55] #125 closed

[2020-12-20 00:07] Krinkle commented on #269
No, the issue happened with MongoDB 2.4 (Debian 8 Jessie).

MongoDB 2.2+ is what the XHGUi docs state as supported.

The issue went away after upgrading to MongoDB 3.2 (Debian 9 Stretch), and at Wikimedia we since migrated our XHGui database to MySQL (MariaDB).

[2020-12-20 05:56] glensc commented on #269
I propose just then to update documentation about minimum version, no point putting more effort to this, even mongodb 3.2 is old:
- https://docs.mongodb.com/manual/release-notes/3.2/ "Dec 8, 2015"

[2020-12-20 06:10] #269 closed

[2020-12-20 20:00] KestutisIT opened #388 "NetData/DirectAdmin/Ubuntu integration"
This could be a great tool, but it does not fit well in the current popular stack.
1. Ubuntu Server is now popular OS that we use as well. And that is on hype after CentOS now got in jail of future.
2. We also use DirectAdmin, and in recent price changes of CPanel made it only considerable option for PHP servers/hostings.
3. DirectAdmin officially supports and integrates with NetData since Fall, 2

[2020-12-24 15:34] glensc commented on #101
you missed waterfall: https://github.com/perftools/xhgui/pull/403 :)

[2021-01-18 09:33] Naktibalda opened #411 "PHP files in docker 0.18.0 image aren't readable to www-data user"
I deployed xhgui/xhgui:0.18.0 image to Kubernetes cluster, but php-fpm is failing to read index.php file.

[18-Jan-2021 08:12:34] WARNING: [pool www] child 13 said into stderr: "NOTICE: PHP message: PHP Warning:  Unknown: failed to open stream: Permission denied in Unknown on line 0"
[18-Jan-2021 08:12:34] WARNING: [pool www] child 13 said into stderr: "ERROR: Unable to open primary script: /var/w

[2021-01-18 11:28] glensc commented on #411
I've pushed over 0.18.0 image

[2021-01-18 11:28] #411 closed

[2021-01-21 16:43] Naktibalda commented on #411
Thank you.

[2021-01-21 19:57] glensc opened #412 "Removed Profile::getCallgraphNodes method in use"
35dff59bdb96fe7a62c0476c7e611085ed7a7e91 removed Profile::getCallgraphNodes method, but it's referred from callgraphDataDot route:
- https://github.com/perftools/xhgui/blob/4c2bca3879e28c9c43e5ff64ea89dc1eae5b0102/src/Controller/RunController.php#L365

@markstory can you dig up what is this? and what should be done with this now?

[2021-01-21 19:59] glensc commented on #412
The commit comes from PR: https://github.com/perftools/xhgui/pull/126

[2021-04-13 21:27] tomjn commented on #278
@glensc what's the current blockers for upgrading Slim? Looking at the PRs from what I can see it's a test failure but I'm not super familiar with xhgui internals

[2021-04-14 06:17] glensc commented on #278
@tomjn you can follow porting in this pr: https://github.com/perftools/xhgui/pull/333

or maybe even try it, and report what you see broken

[2021-04-15 14:57] athoune opened #420 "Can't auth with mongodb"
XHGui use https://github.com/alcaeus/mongo-php-adapter, and it says :

In https://github.com/perftools/xhgui/blob/99d2d88f70d4a54f4a161dece9b106c3eb72e349/src/ServiceProvider/MongoStorageProvider.php#L46 the `MongoClient` is configured without username/password.

I set auth in `config.php` as suggested here https://github.com/perftools/xhgui/blob/99d2d88f70d4a54f4a161dece9b106c3eb72e349/config/con

[2021-04-15 15:06] glensc commented on #420
🚧 Never link to branches, share a permalink 🚧
- see https://news.ycombinator.com/item?id=8046710
  and https://help.github.com/articles/getting-permanent-links-to-files/
  and https://docs.gitlab.com/ee/user/shortcuts.html#project-files
- hit `y`
- and perhaps for https://github.com/josephfrazier/octopermalinker (GitHub)

NOTE: edit your post and fix it with a permalink!

[2021-04-15 15:31] athoune commented on #420
ok, it's more readable with permalinks, sorry.

[2021-04-15 15:33] athoune commented on #420
I can authenticate with an ugly hack in config.php :

[code]

[2021-04-15 16:05] glensc commented on #420
The point of permalinks is that links stay working if code is changed.

[2021-04-15 16:08] glensc commented on #420
From this changeset:
- https://github.com/perftools/xhgui/pull/382

I read that password should go under 'options'. Did you try that?

you seem to be using old `db.host` syntax, you should use new syntax that the PR introduced, and is present as an example in config as well: `config/config.default.php`.

[2021-04-15 17:33] athoune commented on #420
hum, I mess something with too many moving parts, mongodb image changed its behavior.
I didn't notice when user wasn't created in mongodb, and when I put username/password in the wrong place (outside 'options').

[code]

It works.

Sorry for the noise.

[2021-04-15 17:45] glensc commented on #420
@athoune please close the issue if problem solved!

[2021-04-15 17:46] glensc commented on #420
@athoune what you think can the 'username'/'password' filled by default with `null` or `false`, or that will break setups where authentication is not enabled?

I was thinking, that maybe setup to `config/config.default.php`:

[code]

[2021-04-16 07:06] glensc commented on #420
@athoune hallo?

[2021-04-18 10:34] athoune commented on #420
Your patch is nice, thanks.

[2021-04-18 11:29] glensc commented on #420
@athoune can you please answer the question I asked you?

[2021-04-21 11:57] glensc commented on #420
@athoune?

[2021-04-29 18:41] kmgalanakis commented on #278
Having to use an older version of php in our environments just to have xhgui running properly, is a huge problem for us.

When should we expect an update?

[2021-04-29 20:13] glensc commented on #278
if it's huge problem, why don't you do something about it, rather than complaining? it's not helping anyone, only showing your attitude that somebody must do something for you just like that?

however, you have several options:
1. Use docker.
2. Compile needed version yourself, for example with https://php-build.github.io/
2. Disable deprecation logging: https://github.com/perftools/xhgui/issues/2

[2021-04-29 20:34] kmgalanakis commented on #278
@glensc first of all, I cannot speak in the name of everyone here but as far as I'm concern let me clarify I'm totally respecting both the work you are putting into this project as well as your free time. I'm sorry if I offended you but this was certainly not my intention.

We have our ways to bypass this limitation, but this doesn't stop it from being a huge problem.

The only reason I asked here

[2021-08-09 04:24] glensc commented on #420
@athoune where did you go?

please answer the question:
- https://github.com/perftools/xhgui/issues/420#issuecomment-820615673

[2021-08-27 20:55] dadamssg opened #424 "redirects after run delete do not honor 'path.prefix'"
It appears that the `path.prefix` is only honored in the twig templates and not in the redirects from the backend. For example, the `deleteSubmit()` controller action redirects using the following, which simply redirects to the domain root, `/`.

[code]

If i'm hosting xhgui at `https://mydomain.com/tools/xhgui/` and i have `path.prefix` set to `/tools/xhgui/`, after a delete i will be redirected

[2021-08-27 21:27] glensc commented on #424
PR adding the config support:
- https://github.com/perftools/xhgui/pull/298

[2021-08-27 21:30] glensc commented on #424
I think it's important how have you setup your webserver, I think your "alias" is set up incorrectly so that xhgui thinks it's installed at "/" while at webserver level it's at "/tools/xhgui".

you need to rewrite the incoming/outgoing requests equally.

In Apache, it's typically `ProxyPassReverse`:
- https://httpd.apache.org/docs/2.4/rewrite/proxy.html

[2021-08-27 21:33] dadamssg commented on #424
ah, you may be right. I'm using nginx. i'll need to mess around with my nginx conf file

[2021-08-28 05:37] glensc commented on #424
you may be right too, as I added the original change for assets to render properly. but then again, the 'home' route app should detect automatically how the app is installed.

you should post your nginx config here. it maybe something obvious, but otherwise maybe some other community member can have answer if they see the whole picture.

[2021-09-13 08:33] koekaverna commented on #63
@glensc
I added `server-name` filter, and changed links and search forms. Please take a look.
https://github.com/perftools/xhgui/pull/425
It's messy in case I don't clear about where to use `url` and `simple_url`, so I leave this as it was

[2021-09-19 16:48] glensc commented on #63
https://github.com/perftools/xhgui/pull/425 is merged

[2021-09-19 16:48] #63 closed

[2021-10-04 12:05] ossinkine opened #427 "Docker Hub images"
Hi there!

Looks like automated builds on Docker Hub don't work anymore and there is no the newest release there.
Please kindly add it and update images sometimes if possible.
Thank you!

[2021-10-04 14:01] glensc commented on #427
Please be specific about what you think is missing and from where.

[2021-10-04 14:46] ossinkine commented on #427
I'm talking about Docker Hub images of this project https://hub.docker.com/r/xhgui/xhgui/tags.
The latest tag is 0.18.1 is dated 8 months ago, 0.18.2 is not published.

[2021-10-04 14:47] glensc commented on #427
There is no build automation

[2021-10-04 14:48] ossinkine commented on #427
Please do it manually

[2021-10-19 07:52] kamilwalas opened #430 "Error on callgraph for profile on symfony based project"
Hi,

I really like this project but i cannot get to render callgraph at any profile. My project is based on symfony so there is a lot of files. After about 2 minutes i get in console
[code]

Even profile of simple command as `php bin/console` gives empty page
![image](https://user-images.githubusercontent.com/3223707/137866156-63c1a763-e05d-4893-8477-3bd7f76cbe5b.png)

 I really appreciate any hel

[2021-10-21 07:26] glensc commented on #420
Pity, when the user wants something, the developer needs to respond, but when the developer wants contribution back the user disappears.

[2021-10-21 07:26] #420 closed, assigned to nobody

[2021-10-21 11:19] glensc commented on #427
The automation does not get fired:
- https://github.com/perftools/xhgui/pull/428#issuecomment-937574665
- https://github.com/perftools/xhgui/pull/431#issuecomment-948501244

any help to solve this is welcome.

[2021-11-01 23:40] ahmeteminkocal opened #434 "PHP 8.1 Support"
Are there any news about PHP 8.1 support?

[2021-11-02 02:36] markstory commented on #434
Do the xhprof extensions support PHP8.1 yet? They have historically lagged behind new PHP for a few months.

[2021-11-02 07:43] glensc commented on #434
depends on 7.4 support first. see pinned issue:
- https://github.com/perftools/xhgui/issues/278

[2021-11-02 07:45] glensc commented on #434
also, to profile an application, you don't need to run xhprof with latest and greatest, use provided docker image and you'll be fine.

what you need is the collector to be compatible:
- https://github.com/perftools/php-profiler

[2021-11-06 18:16] glensc commented on #427
Opened question in laminas support forums:
- https://discourse.laminas.dev/t/support-automatic-releases-cant-figure-why-tags-action-does-not-fire/2586

[2021-11-11 03:37] fengqi opened #439 "About PDO JSON support"
I want to provide special support based on the drive name, for example, add `json_support` switch in the PDO config

different db JSON syntax will be different, sql may also need to write multiple

known and commonly used mysql >=5.7, postgresql >=9.2, sql server >=2016

[2021-11-11 10:55] glensc commented on #439
I added the driver name to PdoRepository:
- https://github.com/perftools/xhgui/pull/438

for this merge request:
- https://github.com/perftools/xhgui/pull/437

(...but that author disappeared)

anyway, now driver-specific code is now possible.

this must be enabled in config:

[code]

as even if your db server supports json, you may still may have old schema in place

[2021-11-11 10:57] glensc commented on #439
also, depending on how invasive the changes are, maybe need another `PdoRepository`, like `PdoJsonRepository`...

[2021-11-11 10:58] glensc commented on #439
Also, when you start working on it, try to make atomic commits:
- https://www.freshconsulting.com/insights/blog/atomic-commits/
- https://en.wikipedia.org/wiki/Atomic_commit#Atomic_commit_convention

makes much easier to rebase, do codereview and apply fixes

(should put this to CONTRIBUTING.md)

[2021-11-11 11:03] fengqi commented on #439
Yes, our internal current implementation is for mysql, there is a file `PdoMySQLRepository` that overrite the `buildWhere` and `initSchema` method

[2021-11-11 11:04] fengqi commented on #439
ok

[2021-11-11 11:06] glensc commented on #439
I prefer [composition over inheritance](https://en.wikipedia.org/wiki/Composition_over_inheritance), but anyway, perhaps you submit your code and then I can then refactor to composition and provide fallback to other drivers.

[2021-11-11 11:08] fengqi commented on #439
you mean like trait

[2021-11-11 11:16] glensc commented on #439
no. but don't bother if you don't understand, I'll take the refactoring on me.

[2021-11-11 16:47] fengqi commented on #439
ok

[2021-12-20 08:52] glensc commented on #439
@fengqi seems you have not pushed your code yet

[2021-12-20 08:58] glensc commented on #427
Re-post as an issue, as the forum has not received a reply:
- https://github.com/laminas/automatic-releases/issues/175

[2021-12-20 09:11] fengqi commented on #439
@glensc  sry, our focus is on migrating to the GoLang project recently, so i haven’t had time yet.
maybe i can temporarily close this issue and open it again later.

[2021-12-20 14:31] glensc commented on #439
@fengqi but i only asked you push your code to some pull request, and can continue from there.

[2021-12-21 02:42] fengqi commented on #439
ok

[2022-01-12 17:19] luzip665 commented on #278
Hi all.

At first thank you for developing this very nice and usefull tool!

We need to use it with PHP8. But because it seems quite difficult to upgrade to the current slim release, we just replaced the missing `get_magic_quotes_gpc` function by our own, that's just returning false.

May this be a way to get it working (just for now) on PHP8?

[2022-01-12 19:41] glensc commented on #278
Use docker image, then doesn't affect what PHP version you use otherwise.

[2022-01-12 20:08] luzip665 commented on #278
Unfortunately this is not possible because our whole application is already shipped in a docker container.
May be it is possible for us to support your effort to update to a current release of slim.

Is there anything open except the ci problems in #333?

[2022-01-12 20:49] glensc commented on #278
if you're deploying xhgui (the gui part) in the same container as the application, you are doing it wrong.

in the application container should only use the collector library that submits to xhgui:
- https://github.com/perftools/php-profiler

See the docs:
- https://github.com/perftools/xhgui#profiling-a-web-request-or-cli-script

[2022-01-14 08:28] luzip665 commented on #278
You are right, I think.
But, at least, we want xhgui to run on php8. For that I began to look for the tests and added PR 440.

First thing i figured out is the different handling of request and response in Slim3. So I edited the ImportTest to work with the new requests.

Please, can you enable the ci pipeline for this?

[2022-01-14 10:18] glensc commented on #278
please explain.

[2022-01-14 10:52] luzip665 commented on #278
I opened PR #440, where I edited the tests and some controllers, because the tests did'nt run locally.
Now I got only 4 errors and 4 failures locally and I'm interested if it helps for CI pass on github.

But the PR says "6 workflows awaiting approval".
So I need a maintainer to approve, I think.

[2022-01-14 10:54] glensc commented on #278
Approved in #440, next time explain what "this" is, or just ask in the "this" itself.

also, you don't need to harass CI, to see PHPUnit test failures, run the tests locally.

[2022-01-14 10:57] luzip665 commented on #278
Sorry for the 	inconvenience.

I asked for this, because last time I had to deal with an error that happened only on CI on github.

Thank you very much!

[2022-01-16 09:09] glensc commented on #439
@fengqi just push the changes and share the branch.

[2022-01-16 22:58] glensc commented on #278
https://github.com/perftools/xhgui/pull/333 CI passes now.

please test the application itself too.

[2022-01-17 08:44] luzip665 commented on #278
Flash messages don't work. Error in apache error log is `Flash messages middleware failed. Session not found.`
Does not fail if flash.storage is set to array. But then no flash message is shown.
Test with `RunController::deleteAllSubmit`

Additionally I changed TwigExtension to allow to run xhgui in a subdir in #450

[2022-01-17 09:51] luzip665 commented on #278
Rework flash messages in PR #451 .

[2022-01-17 16:57] #278 closed

[2022-01-17 17:07] glensc commented on #424
No longer an issue after slim upgrade:
- https://github.com/perftools/xhgui/pull/333

In fact that slim added prefix needed to be reversed to prevent double paths:
- https://github.com/perftools/xhgui/pull/455

Re-open (or create new issue) once 0.20.0 is released and this is still an issue (or is new issue).

[2022-01-17 17:07] #424 closed, assigned to nobody

[2022-01-17 17:10] glensc commented on #434
Is anyone willing to update README.md, so people don't install xhgui with their application but use the profiler library?
- https://github.com/perftools/xhgui/issues/278#issuecomment-1011439472

The docs are there, apparently nobody reads that bottom of the page:
- https://github.com/perftools/xhgui#profiling-a-web-request-or-cli-script

[2022-01-17 17:51] luzip665 commented on #278
Thank you very much!
It works like a charm, even on PHP8!

[2022-01-17 17:53] luzip665 commented on #434
I would like to understand. Where is the advantage of running xhgui on a separate machine?

For me and my very personal workflow it is easier to have it in the same docker container because I'm dealing with many containers.

[2022-01-17 20:29] glensc commented on #434
container, not the machine. but nevertheless, it's isolation and able to use docker image that this project provides. that is a tested combination that can be supported. the basic principle of containerization is isolation, not putting everything into single container. pet vs cattle based deployment. if you put everything in one place it's not much different from the pet deployment. and maintainin

[2022-01-17 21:35] luzip665 commented on #434
From this point of view I agree with you totally.

My target is not the cloud. We want to provide one single image containing all tools external developers need to develop. We don't use xhgui or any collector in production.

And, why I am here, PHP7.3 reached end of life in december and we must upgrade.

[2022-01-17 21:57] glensc commented on #434
But back to the issue, does 0.20.x branch work for PHP 8.0 and 8.1? can this be closed once I cut the release?

[2022-01-17 21:59] luzip665 commented on #434
Tomorrow I will deploy 0.20 in our containers for testing.
But as far as I see it works at least for PHP8. I can test PHP8.1 also tomorrow.

OT: Is is easily possible to upgrade PHPUnit?

[2022-01-17 21:59] glensc commented on #434
And speaking of developer experience, you can provide example docker-compose config where MySQL, MongoDB, xhgui, whatever are provided as containers. the project provided docker compose does already that a xhgui container and using official MongoDB container.

- https://github.com/perftools/xhgui/blob/0.19.2/docker-compose.yml

[2022-01-17 22:33] luzip665 commented on #434
AT: GUI runs here with PHP8 and PHP8.1
Test not running because of the outdated version of PHPUnit

[2022-01-17 22:58] glensc commented on #434
(next time) accompany your claims with errors! (read: show the error!) to avoid such long feedback loops:
a: there's error
b: show the error!
a: the error is: "...."

newer PHPUnit fails and I can't figure out how to resolve this one:
- https://github.com/perftools/xhgui/pull/457#issuecomment-1014931502

[2022-01-17 23:22] luzip665 commented on #434
Sorry, you are to fast for me.
While I'm investigating the error in phpunit you're just upgrading the version. I was just busy with reading....
;-)

[2022-01-18 08:57] glensc commented on #434
Since you (still) didn't show the error, I have no opinion, but the error I pointed to is still there unresolved. neither have you given any versions you tested with.

[2022-01-18 09:37] glensc commented on #434
https://github.com/perftools/xhgui/pull/457 is merged. should 8.1 be added to readme now as known to work?

[2022-01-18 09:58] luzip665 commented on #434
Just for completeness the error:
[code]

Test running using PHPUnit 6.5 on PHP8.0.
Does not occur using PHPUnit8.5.

[2022-01-18 10:00] glensc commented on #434
phpunit 6.5 no longer supported. phpunit 8.5 is used by the project now

[2022-01-18 10:05] glensc commented on #434
documentation updated (0be12135, 5956e70f), closing

[2022-01-18 10:05] #434 closed, assigned to nobody

[2022-01-18 10:43] glensc commented on #434
since nobody took action, here's my pr:
- https://github.com/perftools/xhgui/pull/458

[2022-01-18 19:47] glensc commented on #320
even asked in issue body, so far nobody has left a comment to update the compatibility matrix, so I'm going to close this, the table moved to readme https://github.com/perftools/xhgui/pull/461

[2022-01-18 19:47] #320 closed

[2022-02-01 20:35] ossinkine commented on #427
Since GitHub actions don't fire an event, I suggest would be better to create the issue in https://github.com/actions/runner not in https://github.com/laminas/automatic-releases.

Also try to use syntax as described here https://github.com/actions/runner/issues/1007 (on create with no tags filter).

[2022-02-01 20:43] ossinkine commented on #427
Also try to use single quotes instead of double quotes, everywhere in documentation they are used, maybe it affects 🤷‍♂️
[code]

[2022-02-01 20:55] glensc commented on #427
1. changing to on create had no effect as I already guessed: https://github.com/laminas/automatic-releases/issues/175#issuecomment-1014662213
2. yaml syntax doesn't matter

[2022-02-01 20:59] ossinkine commented on #427
1. You added `on create` but you also specified tags filter. Did you try with no tags filter? Looks like this is not supported.
2. Did you check this or just guessing?

[2022-02-01 21:03] glensc commented on #427
1. looks like not supported -> reference to your claim?
2. I'm not guessing. I know YAML.

I'm not interested in wasting my time on random guesses, I did that, and it lead to nowhere but lots of my time and nerves lost.

if you want to play with all that, you can do all of that release flow in your own fork.  if you come up with a solution then I can adapt it here.

[2022-02-01 21:13] glensc commented on #427
Also, another symptom that this is about events not fired by likely actions to actions event loop block:
- https://github.com/laminas/automatic-releases/issues/175#issuecomment-1013881532

[2022-02-19 09:20] dignfei opened #470 "docker版本的bug: { "error": true, "message": "Failed to decode payload" }"
使用docker一键安装时，当从 https://example.com/run/import  post的数据比较大时，xhgui就接受不到，返回{ "error": true, 	"message": "Failed to decode payload" }

[2022-02-19 12:07] #470 closed, assigned to nobody

[2022-02-25 12:17] ddanev-yotpo opened #471 "Missing required parameter in RunController:274"
When trying to compare runs the following error comes up.

[code]
https://github.com/perftools/xhgui/blob/448c6d722440171612f9a257dcd6912fc940aae8/src/Controller/RunController.php#L274

[2022-02-25 13:09] glensc commented on #471
🚧 Never link to branches, share a permalink 🚧
- see https://news.ycombinator.com/item?id=8046710
  and https://help.github.com/articles/getting-permanent-links-to-files/
  and https://docs.gitlab.com/ee/user/shortcuts.html#project-files
- hit `y`
- and perhaps for https://github.com/josephfrazier/octopermalinker (GitHub)

NOTE: edit your post and fix it with a permalink!

[2022-02-25 13:09] glensc commented on #471
pull request is welcome!

[2022-02-25 16:59] glensc commented on #427
Merge up problem solved too:
- https://github.com/laminas/automatic-releases/issues/175#issuecomment-1051025855

closing

[2022-02-25 16:59] #427 closed, assigned to nobody

[2022-05-11 20:14] patramsey opened #477 "Export Call Graph"
Hi,

Any good way to export an image of the call graph? Screenshots work, but I was looking for something higher resolution.

[2022-05-26 14:35] maltfield commented on #182
@markstory can you please provide more information on how one can actually import the files into mongodb?

My fresh install just says

[code]

That links-me to here:

 * https://github.com/perftools/xhgui#profiling-a-web-request-or-cli-script

And the above documentation says

[code]

But I don't have a `.jsonl` file (what even *is* a `.jsonl` file?). I have (big surprise) a `.xhprof` file.

fwiw,

[2022-05-26 16:41] maltfield opened #478 "docker: Cannot import `.xhprof` files - PHP Fatal error: require(): Failed opening required xhgui/external/../vendor/autoload.php'"
Attempting to import an `.xhprof` file into the mongodb fails on fresh install with the following error

[code]

In fact, there is no `vendor` directory at all. What is it trying to `require()`?

[code]

## Problem

There is no `vendor/autoload.php` file present after doing the Docker install (and not even a `vendor` directory). This causes attempts to import `.xhprof` files to fail.

Moreover, `/

[2022-05-27 08:08] glensc commented on #182
`php external/import.php` is a command line script, as indicated with an example:

[code]

`.jsonl` files come from a collector, as indicated staring of that section:

and you yourself have not disclosed information on how you obtained `.xhprof` file. no steps to reproduce. what is `.xhprof` file?

[2022-05-27 08:22] glensc commented on #478
the cli command needs to be run inside the container:

[code]

but for that to work you need also add extra `bind`-type [volumes](https://docs.docker.com/storage/volumes/#use-a-volume-with-docker-compose) to container, so the file is accessible inside the container.

----

the instructions there are old, pre-docker, that assumed you had local installation.

I guess the infrastructure should be re-

[2022-05-30 10:06] maltfield commented on #182
Sorry, my understanding was that `.xhprof` was a standard filetype. It was originally [developed by Facebook and open-sourced in 2009](https://code-dev.fb.com/2009/04/02/production-engineering/xhproflive-continuous-function-level-performance-stats-from-production/).

The official documentation states that the `xhprof_disable()` command returns an array. When this array is written to a file (eg wit

[2022-05-30 10:13] maltfield commented on #478
Sorry, would you mind expounding on this a bit here in the ticket? For the following command to not throw errors, what exactly should I do?

[code]

I need to add some lines to a docker file? **Which file**? Exactly **what lines** do I need to add so that the container has access to the dependencies it needs to run the above script??

[2022-05-30 14:16] glensc commented on #478
1. you need to run the command inside the container, so `docker-compose exec xhgui sh`
2. in the container, you need to have access to the `.jsonl` file saved by [php-profiler](https://github.com/perftools/php-profiler), so you need to add a [volume](https://docs.docker.com/storage/volumes/#use-a-volume-with-docker-compose), edit `docker-compose.yml` and add it, or as [`config`](https://github.com

[2022-05-30 14:19] glensc commented on #182
xhgui needs it's own format, which is result of `tideways_xhprof_disable()` (or similar) plus additional metadata encoded as json:
- https://github.com/perftools/php-profiler/blob/1.0.2/src/ProfilingData.php#L21-L71

also, you can not write `Array` to a file, you need to serialize it somehow. This project uses JSON format.

[2022-05-31 22:26] glensc commented on #478
the import cli program was added to this repo:
- https://github.com/perftools/php-profiler

if something unclear or broken, open issue there. or just submit pull request.

currently on main branch only.

[2022-05-31 22:34] glensc commented on #478
and documentation update (in this repo):
- https://github.com/perftools/xhgui/pull/479

[2022-06-01 09:46] maltfield commented on #478
@glensc first, I do really appreciate your efforts on addressing this issue, especially so fast!

Unfortunately, I think it's now even *more* unclear to the user how the heck to import .xhprof files into XHGui.

If a distinct tool is needed, then I think the documentation should list exact commands needed to:

1. install the other tool
2. **import a `.xhprof` file** into the other tool
3. **export

[2022-06-02 10:51] glensc commented on #478
it is not possible to import `.xhprof` (I still don't know what does it even contain), as it lacks request information needed by xhgui.

I answered that here:
- https://github.com/perftools/xhgui/issues/182#issuecomment-1141214309

the only supported way to profile is this library:
- https://github.com/perftools/php-profiler

that is probably why you can't find any documentation for custom use-cas

[2022-06-09 16:24] hotrush commented on #430
I don't get any error in console, but callgraph just doesn't load to me...

[2022-07-24 07:46] #478 closed, assigned to nobody

[2022-07-26 15:30] glensc commented on #471
Fixed by https://github.com/perftools/xhgui/pull/481

[2022-07-26 15:30] #471 closed, assigned to nobody

[2022-08-04 08:30] yangshii opened #485 "Fatal error: Uncaught TypeError: Return value of XHGui\ServiceProvider\ServiceProvider::setupPaths() must be an instance"
xhgui配置好以后，浏览器访问报错如下，大神帮忙指点一下，感谢。
xhgui deployed done! i got the error when i visit it in the browser!

`Fatal error: Uncaught TypeError: Return value of XHGui\ServiceProvider\ServiceProvider::setupPaths() must be an instance of XHGui\ServiceProvider\void, none returned in /home/xhgui/src/ServiceProvider/ServiceProvider.php:21 Stack trace: #0 /home/xhgui/src/ServiceProvider/ServiceProvider.php(13)

[2022-08-04 09:47] glensc commented on #485
1. translate to english
2. fix formatting (use markdown blockquote)

[2022-08-04 10:35] yangshii commented on #485
i fing the reason ，it's my fault . i use a php with version 7.0. shoud 7.2 or  8.0.

[2022-08-04 11:04] glensc commented on #485
`XHGui\ServiceProvider\void, none returned in` indicates too old PHP.

close the issue yourself if you found a solution.

[2022-08-04 11:07] #485 closed, assigned to nobody

[2022-08-04 11:07] yangshii commented on #485
XHGui\ServiceProvider\void, none returned in indicates too old PHP.

[2022-10-25 06:02] lvkss2012 commented on #258
use index on your sorted  field